[2017-08-03 12:29] mantasaudickas commented on #719
Usually major version increment is done when there are incompatible changes.  So it is always good idea to restrict library to one single major version.
The point is that when you upgrade EasyNetQ to support version RabbitMQ.Client 5, it wont be compatible with version 4... so restrictions to new release should be added anyway.

[2017-08-03 20:31] conniey commented on #721
Hi @MarkLFT ,

I'm looking into your issue.  It appears that there is a target that is not being imported during build.  Its possible you need a newer version of the .NET CLI.  You can update that by going to Visual Studio Installer and checking off the .NET Core workload or there may be updates to VS. I'm on version VS2017 Version 15.2.

* Can you run: `msbuild Source\EasyNetQ\EasyNetQ.csproj /pp

[2017-08-04 04:51] MarkLFT commented on #721
@conniey

My VS version is also 15.2, my .Net CLI is version 1.0.4, no upgrades appear to be available for either.

The xml file is attached.
[preprocess.zip](https://github.com/EasyNetQ/EasyNetQ/files/1199259/preprocess.zip)

Many thanks

[2017-08-14 07:02] SiarheiKr opened #724 "No way to create server-named queues"
Empty overload of IAdvancedBus.QueueDeclare was removed
https://github.com/EasyNetQ/EasyNetQ/commit/e44adbca6ada7f91322e434399e129ec94fc4928

[2017-08-16 21:43] sysmatrix1 commented on #721
I could reproduce the problem after I tried to build using the zipped file version. I could see bunch of warnings related to missing git folder. The workaround was to clone the repository in VS 2017 under Team Explorer - Clone - Enter the URL for easynetq repo and point to local folder. This will create all the required git folders and you should be able to build successfully.

[2017-08-17 01:46] MarkLFT commented on #721
OK, will give it a try. Thanks

[2017-08-17 19:28] conniey commented on #721
Thanks @sysmatrix1 for the ping.  I've created a fix for this issue.

[2017-08-18 09:18] #721 closed

[2017-08-18 14:47] pziezio commented on #724
I have the same problem. For now I'm accessing private property of AdvancedBus.
`
var field = typeof(EasyNetQ.RabbitAdvancedBus).GetField("clientCommandDispatcher", BindingFlags.NonPublic | BindingFlags.GetField | BindingFlags.Instance);
var clientCommandDispatcher = (EasyNetQ.Producer.IClientCommandDispatcher)field.GetValue(bus);
var queueDeclareOk = clientCommandDispatcher.Invoke(x => x.QueueDec

[2017-08-18 14:57] zidad commented on #724
Sorry for this oversight to the .NET core conversion guys. is any of you willing to submit a PR to get this overload back in? I'm a bit surprised this scenario wasn't covered by a unit test.

[2017-08-22 16:24] screig opened #729 "Version number in dll does not match nuget package version"
![image](https://user-images.githubusercontent.com/4292074/29576133-ab29f386-875e-11e7-996a-5b97da07315c.png)

[2017-08-28 06:46] nickwb commented on #111
Sorry to awaken an old ticket. I have verified this is still an issue as at version `1.1.4.506`, and based on the code it seems like it would still be an issue on even more recent versions.

I believe the problem is here: https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Producer/Rpc.cs#L272

`task.IsCanceled` is not checked by the continuation. The `else` branch of this if stateme

[2017-08-28 07:56] nickwb commented on #723
I also noticed this issue today while I was tracking down a problem.
(It ended up being this issue: https://github.com/EasyNetQ/EasyNetQ/issues/111#issuecomment-325273375)

The code also made me feel uneasy. However, I could not make it fail using a test harness, and a brief walk through the `RabbitMQ.Client` code suggests that, at least in the current version, whilst there are locks to navigate,

[2017-08-28 08:13] micdenny commented on #111
@nickwb can you propose a PR for this? would be really appreciated

[2017-08-28 10:00] nickwb commented on #111
I'll see what I can do.

[2017-08-29 11:36] nickwb commented on #651
This issue is a little older, but in the interest in providing an answer and closing this issue out:

A work queue is actually the default behavior of EasyNetQ when you use `IBus.Respond` or `IBus.RespondAsync` and you use the same type of `TRequest`.

You are correct that these methods do not accept a `subscriptionId` like
the variants of `Subscribe` and `SubscribeAsync` do - however the RPC mech

[2017-09-07 14:07] zidad commented on #724
will https://github.com/EasyNetQ/EasyNetQ/pull/731 solve your issue?

Can you review if the default parameters I passed like this in the QueueDeclare implementation is correct?
`var queueDeclareOk = clientCommandDispatcher.Invoke(x => x.QueueDeclare("", true, true, true, null));`

[2017-09-11 10:30] zidad commented on #724
It should be in the latest alpha in a couple of minutes. @SiarheiKr @pziezio I would appreciate it if you could check if this solves your issue, then I'll release a new stable version.

[2017-09-26 06:04] zhujinhu21 opened #732 "use rpc request call fail.it happens sometimes"
easynetq v0.63.5.454
rabbitmq_server-3.6.2

 U response = default(U);
response = MessageBus.Request<T, U>(request); sometimes  Call Fail

Unexpected exception when attempting to ACK or NACK
System.ObjectDisposedException: annot access a disposed object.
“System.Net.Sockets.Socket”。
  System.Net.Sockets.Socket.Poll(Int32 microSeconds, SelectMode mode)
  RabbitMQ.Client.Impl.SocketFrameHandler.Write

[2017-09-29 02:32] philippe-lavoie commented on #698
The pull request was merged, shouldn't this be closed ?

[2017-09-29 02:32] #698 closed

[2017-09-29 06:57] zidad commented on #698
yes forgot to do that, thanks!

[2017-10-02 06:00] jeff-pang opened #733 "Subscribe<T> cannot be primitives"
I am trying to use EasyNetQ to subscribe to a topic which is in primitive. But I can't subscribe to it because `Subscibe<T>(...)` where T must be a class. How do I do something like `Subscribe<int>(...)`

[2017-10-02 06:04] zidad commented on #733
Hi Jeff, that's correct. You can use IAdvancedBus if you want to have more control over subscribing.

[2017-10-02 06:04] #733 closed

[2017-10-02 14:29] zidad commented on #732
Thanks for reporting this issue. Would you mind updating to the latest version and see if it still happens?

Thanks!

[2017-10-10 17:57] tasoss commented on #719
So  in order to use  easyqnet i have to use 4.1.3 which is the latest(4) version right?
Any progress on the issue?

[2017-10-11 19:09] #414 closed

[2017-10-11 21:24] zidad commented on #414
thx @stefh!

[2017-10-12 08:22] Jesn opened #734 "how to use EasyNetQ.DI.Autofac in webapi"
how to use EasyNetQ.DI.Autofac in webapi

[2017-10-12 09:18] pardahlman commented on #677
Hello 👋 ,

I'm not at all familiar with the inner workings of EasyNetQ, so my apologies if this isn't providing any useful info.

My guess is that the problem is [this call](https://github.com/EasyNetQ/EasyNetQ/pull/590/files#diff-62708c9979ae8bcb9d95ad8b22e84cceR290)

[code]

If the response exchange is the default exchange, it will try to declare it - which you can't do. A simple way to verify t

[2017-10-12 09:46] zidad commented on #719
@tasoss you can use the latest pre-release for RMQ 5.0.

Unfortunately we're unable to build a stable release now as Ninject doesn't have a stable 4x release yet, which is blocking the building of our stable packages with the current process.
https://www.nuget.org/packages/ninject

[2017-10-13 12:23] xpicio commented on #677
Hello, i fixed this behaviour few months ago with small changes on `IPublishExchangeDeclareStrategy` and `IRpc` implementations. By the way i don't know if is a desired behaviour or not. Let me know and i will try to do a PR with these changes.

[2017-10-13 12:27] zidad commented on #677
I'm no expert on the RPC stuff, but it sounds like it might be a useful fix, a PR would be very welcome, at least we can have a look at it... Thanks!

[2017-10-13 19:23] BrettJaner opened #736 "Set MessageId for Publish and Send methods on RabbitBus"
I would like to set the Message Property MessageId when I'm using the Publish and Send methods from the RabbitBus.  For publishing we have the PublishConfiguration which we could add the MessageId Property to.  However for Send we don't have a configuration parameter.  Maybe add a SendConfiguration class?  Let me know you thoughts on this feature.  Thanks!

[2017-10-16 11:05] zidad commented on #736
Hi @BrettJaner, if can submit a PR, I'd definitely want to add this to the product. Due to lack of time, all features are now added a bit ad-hoc when somebody needs it, so it's definitely possible the API's are not consistently modelled.

Thanks a lot!

Wiebe

[2017-10-16 19:34] BrettJaner commented on #736
Hey @zidad, the more I think about this feature, the more I feel it either makes less sense or it's missing something.  In order to consume the Message Id property from a subscriber or receiver, I will need to use the RabbitAdvancedBus api anyway.  Does it really make sense to have a producer feature on the RabbitBus, but require the RabbitAdvancedBus in order to consume that feature?  We could al

[2017-10-24 08:46] zidad commented on #734
Just:
- create a single instance of the bus for your application on startup, as you would do in a console app
- subscribe to message consumers (if applicable)
- Access that single bus instance to publish messages from your controllers, or use some DI container.

[2017-10-24 08:46] #734 closed

[2017-10-27 18:50] BrettJaner commented on #736
Closing this issue.  Determined I will use the advanced bus for now.

[2017-10-27 18:50] #736 closed

[2017-11-05 15:41] ccccccmd commented on #502
hi，what's wrong with this, i meet the same problem

[2017-11-07 17:46] jugg1es opened #739 "IAdvancedBus best practices"
Our application reads from a single queue but sends to many queues.  Threading is heavily used but the IAdvancedBus isn't shared between threads.  What's the best practice in this scenario?  Is it OK to have a single bus per outgoing queue spread across different threads?  Or do we need to figure out how to use the same IAdvancedBus instance for all outgoing queues?

[2017-11-09 10:18] zidad commented on #739
Normally I would advise to have a single instance of IBus in your application, you can share that instance between threads. It gives you access to the IAdvancedBus interace. Try that scenario first, and if you run into performance issues with this setup please let us know.

[2017-11-09 10:18] #739 closed

[2017-11-13 11:40] mycroes commented on #574
@micdenny

Where is this done? I've been searching for this but can't seem to find it. Also #571 kinda contradicts this (I'm not sure if that's a reliable answer though).

In our application we subscribe with autodelete and after hitting some debug breakpoints subscriptions are gone. I can add them again on reconnect (which solves the problem), but according to the quoted message that shouldn't be

[2017-11-13 12:40] micdenny commented on #574
yes, this will cause the consumer to be explicitly canceled by the broker (rabbitmq), so is the same as if you were deleting a queue from the rmq management portal, you are explicitly request to cancel the consumer, we can't know what's the purpose of this, the queue can be gone forever and BTW we never re-issue queue creation, we only re-issue the consume command in the event of connection interr

[2017-11-13 13:05] mycroes opened #740 "Optimal configuration for subscribers"
After asking a question in #574 and learning that autodelete prevents the subscribtion from returning on reconnection I'm wondering if I'm mistakenly using autodelete while I should choose other configuration.

From the answer in #574:

From the above I would conclude that exclusive has the very same issue, the subscription is gone when the connection is gone.

We're using autodelete everywhere be

[2017-11-13 13:07] mycroes commented on #574
@micdenny Thank you, that was even more information than I needed. I totally agree this is not an EasyNetQ problem, however I thought from your statement that EasyNetQ might have had this covered. In order to not further highjack this thread I created a new issue to ask more questions..

[2017-11-19 06:56] saad749 commented on #244
It will be helpful, if it is available on the Receive Wiki Page.

[2017-11-20 10:25] zidad commented on #244
@saad749 Indeed! would you mind adding it? That's what it is a wiki for :). Otherwise I'll do it but any changes from the community (you :)) is appreciated and allows me to work on other parts of the project... Thanks!

[2017-11-20 14:56] mantasaudickas commented on #729
Any plans to fix this issue?
After each upgrade it is impossible to say if package was updated with correct version...

[2017-11-20 17:24] zidad commented on #729
Thanks for the reminder, let's see if this PR https://github.com/EasyNetQ/EasyNetQ/pull/742 fixes it...

[2017-11-20 18:08] mrychter opened #743 "Development queues setup"
In out development team we have started to use EasyNetQ for simple Proof Of Concept with some basic approch using publish-subscribe with single RabbitMQ machine and everything is working fine on single development machine (publishers and subscribers are on same machine) connected to one instance of RabbitMQ - when we connect more dev machines to same instance of RabbitMQ (developer is testing logi

[2017-11-21 07:16] reisenberger commented on #743
To isolate the activities of different developers, as you describe, use a different virtual host (vhost) in the connection string, for each developer.  vhosts are completely isolated from each other.

Queues could then have the same name for each developer.  The fact that they are on a different vhost would separate them.

https://www.rabbitmq.com/vhosts.html

( as per the same q on StackOverflow:

[2017-11-21 08:58] mrychter commented on #743
This SO question is mine :)

Does it require some configuration on RabbitMQ machine?
Can it be done with no configuration on RabbitMQ - entirely by code?
I came up with exchange approch. How can we do it using only code?

[2017-11-21 09:11] zidad commented on #743
@mrychter
- yes you can create VHOSTS in code, using https://github.com/zidad/EasyNetQ.Management.Client
- generally, on development setup, I'd recommend everyone environment, so also every developer having their own RabbitMQ instance, or at least their own VHOSTS
- If you want to subscribe to messages from a "shared environment" (1 publisher, multiple development machines subscribing), you can do

[2017-11-21 10:18] mrychter commented on #743
So, I came up with exchange idea described here:
https://www.rabbitmq.com/tutorials/tutorial-three-dotnet.html

So I could prepare multiple exchanges that points to different queues so it could be looked like:
for dev machine #1 - exchange [dev-machine-1] which is binded to queue name [q-machine-1]
for dev machine #2  - exchange [dev-machine-2] which is binded to queue name [q-machine-2]

Publish

[2017-11-21 11:20] zidad commented on #743
I have a feeling you're making it more complicated than needed. As far as I understand your requirements correctly, isolated VHOSTS are exactly what you're looking for.

[2017-11-21 11:42] mrychter commented on #743
Maybe but I'd like to know :)

What about request-response using AdvancedBus - are there special methods for this type of communication?

[2017-11-21 11:59] zidad commented on #743
I'm not sure what you mean...
@mrychter could we move this to the discussion group please, as this is the issue tracker? https://groups.google.com/forum/#!forum/easynetq

[2017-11-21 11:59] #743 closed

[2017-11-21 15:27] renukaMudunuri opened #744 "Consuming more than 1 message at a time"
We would like to consume more than a single message at once to save into our SQL Server database. We are unable to do it

[2017-11-21 15:29] micdenny commented on #744
prefetchcount is set to 50 by default, so if you consume async you will be
able to store to sql 50 messages concurrently using SubscribeAsync.

On Tue, Nov 21, 2017 at 4:27 PM, renukaMudunuri <notifications@github.com>
wrote:

--
Michael Denny
Engage IT Services s.r.l. <http://www.engageitservices.it/>
CTO, Co-Founder

[2017-11-21 15:30] micdenny commented on #744
please use the google groups to ask questions: https://groups.google.com/forum/#!forum/easynetq

[2017-11-21 15:30] #744 closed

[2017-11-21 15:33] renukaMudunuri commented on #744
Sorry!! wrong window. I will post in google group.

[2017-11-21 15:57] ewe commented on #744
We do this all the time.  We have separate instances that each have a
message sink that subscribes to the topic.  RabbitMQ round-robins the
messages to the various subscribed instances.  Each instance processes a
message in parallel.

It seems to work fine for us.

Elroy Eckhardt
System Administrator
310-7711

From:   renukaMudunuri <notifications@github.com>
To:     EasyNetQ/EasyNetQ <EasyNetQ@no

[2017-11-30 06:50] djl394922860 commented on #502
System.TimeoutException: The operation requested on PersistentChannel timed out.
System.TimeoutException: Publisher confirms timed out after 10 seconds waiting for ACK or NACK from sequence number 3211
i meet the two errors. now i just log error and try again. I think messaging servers are occasionally unavailable.

[2017-12-10 23:02] sheltonc opened #746 "How does the DefaultConsumerErrorStrategy get configured and invoked?"
I'm trying to configure our application to use the dead-letter queue. There's no documentation around this and I've spent a while going through the source code.

The exact behavior that I'm after is implemented in DefaultConsumerErrorStrategy.cs. However, I can't find where IConsumerErrorStrategy::HandleConsumerError is called from production code, other than InternalConsumer.HandlerBasicDeliver -

[2018-01-04 14:52] thedarkdestructor commented on #666
I would like to share my 2 cents.

If I'm not wrong, **the key problem related to concurrency that RabbitMQ [channels are not thread-safe](https://www.rabbitmq.com/dotnet-api-guide.html).**

From what I could see from looking at the EasyNetQ code this is managed as follows:

1. A singleton channel is created for each IBus and application to send messages. That means that *ALL* the publishers will

[2018-01-09 13:02] zidad commented on #666
@thedarkdestructor I think this approach was chosen in the beginning because of simplicity and the original developers didn't need more performance than this. I'm not currently doing any major development on EasyNetQ, but if you have a proof of concept that you would like to turn into a proper solution, that would be very welcome!

[2018-01-12 09:33] micdenny commented on #666
@thedarkdestructor so you're idea is to simply have a channel pooling, like the ado connection, theoretically with no to really low contention thanks to the [ConcurrentBag](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs) that use `Interlocked.Exchange` instead of lock/monitor (it uses but only on big operation like

[2018-01-18 17:01] mrychter commented on #746
if it is not called in production then your code is perfect :) second reason is that u didn't register it in bus - it has internal simple di container. i suggest u that u should enable logging in bus also to see what easynetq is going under the hood (same way as u register custom error strategy). can u provide code of your strategy?

[2018-01-18 17:08] mrychter commented on #740
btw subscriber should be independent component   and its lifetime is rather like running forever with no interuptions so it should be prepared like windows service or deamon in linux. if u place it in webapp u are simply decreasing performance of subscriber and responsiveness of webapp.

[2018-02-15 15:24] arrkaye opened #748 "Using Request/Respond how do I propagate exceptions"
My server responds to one of 90 requests.

When one of them throws a valid exception, how do I propagate that to the client?

It currently seems to throw on the server, and then timeout on the client.

[2018-02-15 16:03] micdenny commented on #748
It should propagate an EasyNetQException wrapping the description of the original exception.

The exception is not propagated as is, to avoid big data to be transferred, but you can locally extend that code if you need.

But if you don't see the propagation, can you please reproduce it in a trivial console app?

[2018-02-15 16:47] arrkaye commented on #748
Thanks, i'm not seeing that behaviour. Here is the console app. Client just gets a Timeout. Changing the throw in the server to return a string does make it to the client fine.

[code]

[2018-02-15 17:18] micdenny commented on #748
you should throw a normal exception like `throw new Exception` because that exception is itself the wrapper used inside easynetq and is not meant to be used externally, but anyway I don't think is because of that, and it's really weird you're seeing this problem, so I'm on it.

[2018-02-15 17:48] micdenny commented on #748
@arrkaye I admit the error is not clear, and there's no exception clearly thrown by easynetq, but you can't use value type only reference type, basically can works, but as you see there's edges where it is not.

EasyNetQ is meant to be used with message written as class, so also the RPC expect this.

Try this sample:

[code]

[2018-02-15 21:46] arrkaye commented on #748
Hi @micdenny

Thanks for your updated example.

It still doesn't work even with the updated example. What I've found is that there isn't a Default error queue being created in the Rabbit admin console.

Our production application shows the same behaviour. I did see the Error queue created once on our application, but it failed to recreate after I deleted it and restarted the services.

The client

[2018-02-15 22:06] arrkaye commented on #748
It seems to be working fine in my example now, but still not in our application deployed to kubernetes using RabbitMQ in the cluster.

Please can you explain how the Default Error Queue is created?

[2018-02-16 09:47] micdenny commented on #748
check it here: https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Consumer/DefaultConsumerErrorStrategy.cs#L139

the error queue is declared the first time you have an exception (so not at the startup of the app) per process, so it means if you have 10 processes, the first of those that got an exception from a consumer, it tries to declare the queue, then the process flag an interna

[2018-02-16 10:49] arrkaye commented on #748
I think the barrier makes sense tbh. It's probably fair to assume someone won't go around deleting the error queue randomnly without restarting the app. I'm not sure if checking if the error queue exists every time is worth the performance hit.

I think the problem we have here may be something different.

I've copied the ConsumerErrorStrategy and injected into EasyNetQ like so:

`RabbitHutch.Crea

[2018-02-16 12:33] arrkaye commented on #748
I think I've found it.

My Response objects didn't have a parameterless constructor - which only seemed to matter when an Exception is thrown as it uses the ReflectionHelpers class to create the Response.

Any idea why it needs to create the response if the handler throws an exception? And is the requirement of having a parameterless constructor here to stay?

[2018-02-16 13:34] micdenny commented on #748
because we don't have a body wrapper in easynetq and we actually serialize only the message type you pass, so the message itself should be a simple DTO/POCO object, and should be always returned and that was the trick, otherwise we have to create a wrapper around the serialized body and change a lot of internal code.

does at least your classes have a private parameterless constructor? how do they

[2018-02-16 13:53] arrkaye commented on #748
I understand. Our classes have public parametered constuctors.

They work just fine with the Json serializers as the parameters are named the same as the properties, albeit in camelCase. E.g. ctor(userId) -> UserId {get;set;}

[2018-02-19 09:13] micdenny commented on #748
the fastest way I can see is to use `JsonConvert` passing an empty object `{}` and let it create the object for us, otherwise we should dig into reflection.

because in easynetq we don't block value object to be used, I can consider this exception management as a non-compliant implementation, and do a fix to be aligned with the other object instantiation, and so using the `JsonConvert` to be sure

[2018-02-19 16:34] micdenny commented on #748
just to be more precise, **value types are already forbidden as a message in EasyNetQ**, the original problem `var response = bus.Request<string, string>("Test");` is because string is a reference type, and does not have parameterless constructor

[2018-02-19 17:43] micdenny commented on #748
@arrkaye please check the PR I've submitted #749 thank you!

[2018-02-20 11:55] arrkaye commented on #748
Looks good! Will it be available in an official alpha soon?

[2018-02-20 14:00] micdenny commented on #748
yes, I'm merging it as hotfix

[2018-02-20 14:19] micdenny commented on #748
here's the hotfix `2.3.1` -> https://www.nuget.org/packages/EasyNetQ/2.3.1

[2018-02-20 14:19] #748 closed

[2018-02-20 14:44] micdenny opened #750 "Push releases on NuGet only when pushing TAGS"
I would like to push on NuGet only on TAGS, to avoid the noise that we're seeing now:

There's 3 stable for 20 releases 😞
![image](https://user-images.githubusercontent.com/1633595/36430055-84f064b8-1654-11e8-8b82-d81b7691641f.png)

Currently whenever it builds from:

- `feature` it pushes to MyGet as pre-release
- `develop` it pushes to NuGet as alpha pre-release
- `release` it pushes to NuGet as

[2018-02-21 09:02] mirushya opened #751 "best practice to send large messages"
Hi All,
I am new to easynetq, I Have several questioners
1. How to send and recieve messages in chunk like on this Rabbitmq example:
https://dotnetcodr.com/2014/06/12/rabbitmq-in-net-handling-large-messages/
2. The basic publish and subscribe methods using acknowledgments? what happens if i publish a message and the queue is down?
3,  What is the default queue properties? Messages: Persistent = tr

[2018-02-21 09:51] micdenny commented on #751
@mirushya thanks to be in touch with us, please next time post questions on [google groups](https://groups.google.com/forum/#!forum/easynetq) and only issues on github.

https://dotnetcodr.com/2014/06/12/rabbitmq-in-net-handling-large-messages/

There is no out-of-the-box support for send message in chunk, and is something that EasyNetQ is not meant to.

BTW I think you can use the `RabbitAdvanced

[2018-03-05 09:29] aussieweever opened #753 "IConsume<T> constructor with parameters"
Hi all, I'm very happy with the AutoSubscribe features as it makes the code better structured. However, anyone tried to define the IConsume<T> implementation with a parameter constructor, such as inject the IBus instance? I use Autofac, but I think this should be the same as other IOCs. My test result shows only IConsume<T> implementations with a parameterless constructor can work properly. Anyone

[2018-03-05 09:36] zidad commented on #753
Hi @aussieweever, resolving constructor parameters for your consumers should work fine with all supported DI containers. I've written the autofac implementation, it should work, but it's a bit tricky, as EasyNetQ modifies the container after it's built, so it requires a specific order of initialization. Please check the autofac unit tests on how to use it, or can you post an example here?

[2018-03-05 10:04] mrychter opened #754 "Hosepipe - error on message republish"
Hi,

my goal of using hosepipe is to retry error message from error queue but is not working as expected.
First attempt is to republish message which stays in normal processing queue (suppose queue is created but subscriber isn't working).
Steps to reproduce:
1. one message stays in queue - TestQ
2. dump all messages from TestQ to folder: EasyNetQ.Hosepipe.exe dump s:localhost u:admin p:admin q:Te

[2018-03-05 10:12] aussieweever commented on #753
Thanks @zidad for the quick response. Actually I just did another simple test without any DI container. So basically it's just a console app as following:

[code]

The IConsume<T> implementation is like below:

[code]
WelcomeMessage is a simple poco class

[code]

If I remove the constructor in the message handler, when I publish a message from other place ( I use Linqpad), and the message can be

[2018-03-05 10:38] aussieweever commented on #753
Thanks @zidad for the quick response. I think there must be something I missed but just cannot figure out where it is. My test application is a .Net Core Web Api project, and the Startup class looks like following:

[code]

The IConsume implementation is as following:
[code]

SendWelcomeEmailMessage is just a POCO class.
[code]

Without the constructor in the handler it works fine.
With the constr

[2018-03-08 13:40] kkesselwss commented on #389
We're also having problems with this on version `2.2.0` -- @xpicio did you find a workaround? I realize this issue is over 3 years old, but perhaps someone might have figured out a way to get around this?

Thanks.

[2018-03-08 13:59] xpicio commented on #389
Hello i created a new `HandlerRunner` class, then when you create the instance of the `IBus` simply inject your new `HandlerRunner`. My class is like that:

[code]

[2018-03-08 14:58] kkesselwss commented on #389
@xpicio Thanks for the quick reply! That seems to be working great so far.

For everyone else, the only part that @xpicio left out was how to hook this into your `CreateBus` method. Here's what we did:

[code]

[2018-03-14 17:36] AnthonyMastrean opened #755 "Connection string may not end with a semicolon ';'"
Seems like the parser should be OK with a trailing semicolon, as it's a common practice (where I've worked) to always leave it at the end of connection string. For example,

[code]

results in a `ParseException`

[code]

[2018-03-15 10:12] zidad commented on #755
Thanks!

Why would you want to add extra characters that don't add anything? :)

If you really want it feel free to submit a PR, I don't mind changing the behavior to a bit less strict, but I'm closing the issue as 'by design'.

[2018-03-15 10:12] #755 closed

[2018-03-15 15:08] AnthonyMastrean commented on #755
It's just a style/practice thing to always include the terminating/separating character. It's more helpful in multiline scenarios, to avoid modifying the _previous_ row to add the separator for the _next_ row. This is not one of those cases, I was just surprised it raised an error!

I _might_ see about submitting a PR, thank you!

[2018-03-16 04:45] aussieweever commented on #753
I also tried the RegisterAsEasyNetQContainerFactory, but same result. Is there anything I did wrong?

[2018-03-23 13:33] AnthonyMastrean opened #757 "How is the heartbeat negotiated?"
I'm trying to determine how the heartbeat is negotiated, if at all. It is, after all, called the "requested" heartbeat. For example, if the server heartbeat is set _lower_ than the client heartbeat, the client library should use the _minimum_, right? Otherwise, all connections will be closed by the server.

The [connection documentation](https://github.com/EasyNetQ/EasyNetQ/wiki/Connecting-to-Rabb

[2018-03-27 14:32] mmikirtumov opened #758 "System.NotSupportedException: Pipelining of requests forbidden"
Hi,

I have the following issue.

In my local machine RabbitMQ works fine with no issue.
Local Version is 3.7.0, Erlang 20.1.

But when I try to use other (using network) version of RabbitMQ it sends me the following exception
Version 3.6.14 Erlang 18.3

System.NotSupportedException: Pipelining of requests forbidden at RabbitMQ.Client.Impl.RpcContinuationQueue.Enqueue(IRpcContinuation k) at Rabbit

[2018-03-27 21:04] gustavo-armenta opened #759 "RabbitHutch.CreateBus() only allows to connect to one RabbitMQ server"
I have a dotnet core application trying to use RabbitHutch.CreateBus() with 2 different connection strings. Each connection string connects to a different RabbitMq server. The result is the first call to CreateBus() connects successfully to server1 but the second call to CreateBus() connects again to server1 instead of server2.

Looking at the source code of RabbitHutch.cs, I see the method implem

[2018-03-29 19:12] gustavo-armenta commented on #759
The problem raised by creating a ContainerFactory that always returns the same instance. Issue was resolved by providing a ContainerFacctory that creates a new container instance every time.

[2018-03-29 19:12] #759 closed

[2018-03-30 09:01] zidad commented on #759
Thanks!

[2018-03-31 19:05] Pliner commented on #758
Hi @mmikirtumov,

Did you find a solution for your issue?

PS I will back from journey at Sunday and will try to reproduce this issue.

[2018-04-03 09:13] mmikirtumov commented on #758
Hi @Pliner ,

I made some investigation and found the following scenario.

When I create one consumer for example Namespace.SomeAct from one node and try to setup other node with the same consumer Namespace.SomeAct the system shows the mentioned error.

[2018-04-12 12:37] micdenny commented on #508
the porting has been completed on version 2.x

thank you to all!!!

[2018-04-12 12:37] #508 closed

[2018-04-15 08:01] kkovalevskiy opened #766 "What is the best way to clean up durable queues created by EasyNetQ?"
Hi,

I'm trying to figure out how to correctly clean up durable queues which are created inside of `SubscribeAsync` method in `RabbitBus` class. We have the following restrictions

1. We need to have durable queues because we don't want to miss messages due to the fact that we have no consumers at the moment or we have some troubles with our message broker (this can happen mostly due to technical

[2018-04-16 12:09] tkirill commented on #623
The issue should be fixed on netstandard in #760 due to using of `TaskCreationOptions.RunContinuationsAsynchronously` [here](https://github.com/EasyNetQ/EasyNetQ/pull/760/files#diff-ffba164d3c9d2499e45437fe21a7605fR48).

[2018-04-16 12:28] zidad commented on #766
Personally I would go for the "expires" option (2) with a long enough expiration that you are sure they are 'dead' queues and can be safely deleted, and not because of a functional error.

You should monitor your consumers anyway to make sure that they are working within some time span, in which case you don't necessarily need to monitor the 'dead' queues right?

Option 3 seems like reinventing fe

[2018-04-17 04:14] kkovalevskiy commented on #766
Thank you for your answer!

I agree that option (2) will work for us, but what this will create additional work for our devops and admins to detect such queues, find why they accumulate message and have no consumers (since it's possible that such 'dead' queue will be bound to 'live' exchange and accumulate messages that never will be consumed in that queue), asking development team "why queue1 acc

[2018-04-17 07:55] micdenny commented on #766
@kkovalevskiy does option 3 still work when you do have a queue name refactor? if you want to change the queue name, and you have a work queue (multiple consumer process on the same queue), how do you manage this scenario in a always on environment?

[2018-04-17 08:53] zidad commented on #766
@kkovalevskiy I don't fully get it, in option 2) when a queue expires after having 0 consumers, it is deleted (with all messages and bindings), why would that cause extra manual work?

[2018-04-17 16:15] mmikirtumov commented on #758
Thank you @mhellsten ,

Do you have any log from your rabbit server? Do you see any connection relative information in your logs?

[2018-04-17 16:24] Nekromancer commented on #718
I would love that. I'd like to set `x-queue-mode` and `x-overflow` too

[2018-04-20 08:53] CzmQlik opened #769 "Double BasicConsumer initialization on InternalConsumer StartConsuming method"
Hi,

I'm a newbie with EasyNetQ and Rabbit in general so I'm just asking (I can be totally wrong).

Anyway I suspect that this double initialization of BasicConsumer within InternalConsumer StartingConsuming method should be removed (the first basic consumer should be added in the array).
Maybe this could cause a small memory leak since this.basicConsumers IEnumerable (which unfortunately don't co

[2018-04-20 08:58] zidad commented on #769
Thanks! That certainly doesn't look right. Perhaps from a merge conflict. Let me investigate.

[2018-04-22 15:58] mirushya opened #773 "Best practice to dispose queue after handle message failed"
Hi !
I cant figure out the correct way to dispose after an handle message function failed => throw exception
Currently when I need to Nack a message: on HandleMessage() before I throw an  exception I  call the dispose function but i know that this is a bed practice solution.

Can you Please send me an example that describes how to subscribe and dispose once the handle message once it throws an exc

[2018-04-23 09:20] jakoss opened #774 "PrefetchCount as "job queue""
Hi,

As far as i understand the `PrefetchCount` i could use it as a limiter for parallel jobs in background. Is it safe to assume such code is going to work as expected? The condition is that ProcessRecognition cannot be called in parallel more than given `prefetchCount` flag.

Also - should i call `ConfigureAwait(false)` after `ProcessRecognition` or is there need for context synchronization?

[c

[2018-04-23 09:24] #774 closed, assigned to nobody

[2018-04-25 09:38] zidad commented on #769
This bug should be fixed in 2.3.3

[2018-04-26 18:17] #769 closed

[2018-04-26 18:18] Pliner commented on #773
Hi!

Actually, I'm not sure that understand you correctly. Could you clarify the case?

[2018-04-30 07:07] boffman opened #776 "Crashes with dotnet sdk 2.1.300-preview2"
Hi, I'm trying out dotnet core in a Mac, and wanted to use SignalR. That directed me to using 2.1.300-preview2 (as per [this msdn blog page](https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-getting-started-with-signalr/))

I also want to use RabbitMQ and EasyNetQ. However, adding EasyNetQ to my dotnet soup makes it crash at start (dotnet run) with this message:

`libc

[2018-04-30 07:59] zidad commented on #776
Thanks to bringing this to our attention! Interesting... looks like it could be an assembly redirect version conflict maybe? I'd have to investigate.

[2018-05-08 10:27] Pliner opened #779 "New TypeNameSerializer"

[2018-05-09 21:07] AnthonyMastrean opened #780 "Recommendations for IO intensive, but scarce resource consuming"
You briefly mention not [blocking the subscription](https://github.com/EasyNetQ/EasyNetQ/wiki/Subscribe#considerations-when-writing-the-subscribe-callback-delegate) handling thread with long running callbacks. You suggest using the [async callback](https://github.com/EasyNetQ/EasyNetQ/wiki/Subscribe#use-subscribeasync) pattern.

In my application, for every message consumed, we need to write some

[2018-05-10 07:59] Pliner commented on #780
Hi @AnthonyMastrean,

RabbitMQ has builtin feature named [prefetch_count](https://www.rabbitmq.com/consumer-prefetch.html).  It helps to limit number of unacknowledged messages.

In EasyNetQ you can pass it through connection string(parameter name is `prefetchcount`).

I hope this will help you.

[2018-05-10 12:26] micdenny opened #781 "on vs2017 the tests flagged as Explicit can't be filtered out using traits"
this will be an issue when #772 will be merged

[2018-05-10 13:00] micdenny commented on #781
when I first run the build the test explorer does recognize the traits `Explicit`:

![image](https://user-images.githubusercontent.com/1633595/39870599-445fb3ee-5462-11e8-8080-0bc8f6a29ead.png)

when I run the build again it can discover the `Explicit` ones:

![image](https://user-images.githubusercontent.com/1633595/39870609-4b3aee5e-5462-11e8-9e8c-40ce4c05bc6a.png)

so actually this is somehow a

[2018-05-10 13:00] #781 closed

[2018-05-10 13:05] micdenny commented on #781
I also an errors, but it seems to be non-blocking, if fact the tests are running correctly:

[code]

I'm wondering if the test explorer filter `-Trait:"Explicit"` can be configured by default for a solution, this traits stuff isn't really comfortable at all

[2018-05-10 15:07] AnthonyMastrean commented on #780
I've explored the prefetch count and it does not effect message callback concurrency. It only effects how many messages are brought into the client's memory at once.

Try these experiments, with 100 messages on the queue

 * set the prefetch count to 1 and use an async callback (you'll fetch and spawn callback threads as fast as your host allows)
 * set the prefetch count to 50 and use a sync call

[2018-05-10 16:18] djl394922860 commented on #753
this is my code , like this:
[ConsumerMessageDispatcher](https://github.com/djl394922860/LocalTransactionTableTest/blob/master/Consumer/EasyNetQ/ConsumerMessageDispatcher.cs
)
[OrderCreatedEventConsumer](https://github.com/djl394922860/LocalTransactionTableTest/blob/master/Consumer/EventConsumer/OrderCreatedEventConsumer.cs)

[2018-05-10 16:26] Pliner commented on #780
Maybe I do not understand your case correctly, but for me your question was about using async callback to handle message and also about limitation of concurrency(how to limit amount of simultaneous processing messages).

1. EasyNetQ acks messages only after callback is finished, you can see it [here](https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Consumer/HandlerRunner.cs#L49).

[2018-05-10 19:00] vengai opened #782 "Rpc with header binding"
We are trying to use the RPC with header based binding. Is there a way we could achieve it? I have extended the Rpc class locally and stuck with extending the message.

I know this could be achieved using AdvancedBus, but the reason behind this:

- We are a small team of 4 and we have lot of small applications.
-  All are communicating with on central service
- We are re-writing the central servic

[2018-05-10 19:27] Pliner commented on #389
Fixed by #761.

[2018-05-10 19:27] #389 closed

[2018-05-10 19:28] vengai commented on #782
I am trying to create a message of Type Message<CustomerRequest> with header items and pass it on to the Request<T,T>() method so that I could publish the message to exchange which uses HEADER binding.

[2018-05-10 19:28] #421 closed

[2018-05-10 19:32] #697 closed

[2018-05-10 19:32] #385 closed

[2018-05-10 19:34] #530 closed

[2018-05-10 19:36] #387 closed

[2018-05-10 19:45] AnthonyMastrean commented on #780
Oh, let me refine my use-case... We're actually using the `IAdvancedBus` to `Consume` from an `IQueue`. Does that change any of this behavior?

We started with an async callback

[code]

And switched to a sync callback

[code]

I'm working on a minimal reproduction, too, but I thought I'd throw this out there, since it's different from the "easy" `bus.Consume<T>` and `bus.ConsumeAsync<T>`.

[2018-05-10 20:52] AnthonyMastrean commented on #780
OK, so I just did some minimal reproductions and I couldn't get RabbitMQ/PostgreSQL to misbehave the same way that they are in our app. It _seems_ like prefetch count _does_ effect callback concurrency when using async callbacks on queue consume?!

I'm going to have to double-check my app; I suspect we have some bad timing stuff going on (connection pool lifetime/timeout may also be in play here).

[2018-05-10 21:53] #554 closed

[2018-05-10 21:55] toticain00x214 commented on #554
This was due to an unstable network. This is obselete at this time

[2018-05-11 02:55] #529 closed

[2018-05-11 02:57] #383 closed

[2018-05-11 02:59] #198 closed

[2018-05-11 03:00] #128 closed

[2018-05-11 03:01] #111 closed

[2018-05-11 03:03] #148 closed

[2018-05-11 03:03] #149 closed

[2018-05-11 03:40] #365 closed

[2018-05-11 03:43] Pliner commented on #381
As I understand now, bug was connected with #624.

[2018-05-11 03:43] #381 closed

[2018-05-11 03:44] #443 closed

[2018-05-11 03:45] Pliner commented on #578
I think it's ok to live with `late` argument checking 😉

[2018-05-11 03:45] #578 closed

[2018-05-11 03:46] #729 closed

[2018-05-11 13:57] #483 closed

[2018-05-11 15:39] AnthonyMastrean commented on #780
So, we definitely observed seemingly unlimited message handling concurrency, even with prefetch 1 in our app. Let me investigate connection string and queue/exchange settings... can you think of anything that might _appear_ to get around the prefetch limiting (something like auto-ack)?

[2018-05-11 16:15] WadeTheFade commented on #524
I think I may be able to shed some light on this. I had the problem of, while I was publishing/consuming via the autosubscriber just fine by using my custom names, each message still went to the default error queue with the above message.

The issue shows up when using the Autosubscriber and declaring your own queues via the attributes *without declaring a topic*. This is because without a topic,

[2018-05-11 16:49] Pliner commented on #779
I think I found good implementation.

https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Utilities/ReflectionUtils.cs#L146

https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Serialization/DefaultSerializationBinder.cs#L189

It will cover all cases that we can imagine 😮

[2018-05-11 17:16] zidad commented on #779
that surely makes sense to stick to that implementation (if all characters are supported in RMQ naming)

[2018-05-11 17:51] Pliner commented on #779
It seems that spaces is not a problem, because in #335 we have an example `"SKBKontur.Evrika.EmailService.EmailMessage\`1[[SKBKontur.Evrika.EmailService.EmailModels.EmailModel, Evrika.EmailService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]:Evrika.EmailService`, which contains a lot of spaces!

[2018-05-11 17:59] Pliner commented on #780
I can't figure out it, sorry.

I copy-pasted you code(note, in your example prefetchCount is 50), removed PG stuff and run it.

<img width="987" alt="1" src="https://user-images.githubusercontent.com/664889/39939211-eb814c98-556e-11e8-8cc5-45b76e88638c.png">

<img width="1126" alt="2" src="https://user-images.githubusercontent.com/664889/39939219-f2242250-556e-11e8-880e-ab1dad979433.png">

<img wi

[2018-05-11 18:12] #751 closed

[2018-05-11 18:14] #582 closed

[2018-05-11 18:41] AnthonyMastrean commented on #780
That's what I'm saying! As I rebuilt the minimal reproduction, I got the behavior _you_ suggested, not what I witnessed in my app 😭 . (I included pgsql in my example so that I could watch the client-side connection pool behavior.)

[2018-05-11 21:28] zidad commented on #779
so what does the naming look like in the end?

[2018-05-12 05:40] Pliner commented on #780
Sorry, I didn't understand you 🤣 🤣 🤣 🤣 🤣 🤣

[2018-05-12 05:50] Pliner commented on #779
[code]
``
{
  // It's a serialized type
  "$type": "System.Collections.Generic.List`1[[System.String, System.Private.CoreLib]], System.Private.CoreLib",
  "$values": [
    "Lalala"
  ]
}
[code]

[2018-05-12 07:28] Pliner commented on #780
There is no auto-ack in EasyNetQ. I have no idea about your issue 😭

[2018-05-12 07:33] Pliner opened #784 "Update DI documentation"
After #772 [documentation](https://github.com/EasyNetQ/EasyNetQ/wiki/Using-Alternative-DI-Containers) is no more relevant and we need to update it.

[2018-05-12 07:42] Pliner commented on #757
Since we use RabbitMQ.Client under the hood we behave the same as it.

[2018-05-12 07:42] #757 closed

[2018-05-12 12:36] Pliner commented on #715
A think now we have it, https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/IAdvancedBus.cs#L118.

[2018-05-12 12:36] #715 closed

[2018-05-12 12:40] Pliner commented on #410
If you need this, you definitely should add it and create PR :wink:

[2018-05-12 12:40] #410 closed

[2018-05-14 15:09] Pliner commented on #562
Will be fixed by #786

[2018-05-14 15:09] #562 closed

[2018-05-15 02:34] Pliner commented on #648
I hope this issue is no more relevant.

[2018-05-15 02:34] #648 closed

[2018-05-15 05:47] kkovalevskiy commented on #766
Sorry for a delayed response, we decided to follow with option #2, but with separate monitoring of consumer applications to be sure that if a queue has no consumer, it's actually unused not because of a sudden death of consumers but because it's actually unused and can be removed. Thank you for your help!

[2018-05-15 05:47] #766 closed

[2018-05-15 07:41] #518 closed

[2018-05-15 08:15] zidad commented on #766
No worries, thanks for the feedback!

[2018-05-15 09:01] #689 closed

[2018-05-15 15:53] #504 closed

[2018-05-15 16:03] Pliner commented on #746
I hope @sheltonc resolved his issue.

Thanks @mrychter.

[2018-05-15 16:03] #746 closed

[2018-05-15 16:07] #444 closed

[2018-05-15 17:32] Pliner commented on #559
This issue is outdated.

[2018-05-15 17:32] #559 closed

[2018-05-15 22:49] #467 closed

[2018-05-16 08:10] Pliner commented on #516
This issue is still relevant.

[2018-05-16 08:11] Pliner commented on #780
I hope you resolved your issue.

[2018-05-16 08:11] #780 closed

[2018-05-17 04:49] Pliner commented on #516
@ldenardo Actually, your workaround is exactly what we need to fix this issue.

<img width="1180" alt="screen shot 2018-05-17 at 09 47 24" src="https://user-images.githubusercontent.com/664889/40157228-5a60509a-59b7-11e8-9ab1-435ffbdba46c.png">

The behaviour of jsonserializer is actually described here. So, the fix is to pass `Type` to serializer explicitly.

[2018-05-18 03:17] solapvk opened #789 "when i receive msg from java,it throw exception"
#745
look the unit test `When_a_message_without_typeinfo_is_delivered_to_the_consumer`
@Pliner

[2018-05-18 15:26] #516 closed

[2018-05-23 10:48] Pliner commented on #784
EasyNetQ is made up of a collection of independent components. Internally it uses LightInject container, which is wrapped by DefaultServiceContainer. If you look at the code for the static RabbitHutch class that you use to create instances of the core IBus interface, you will see that it simply creates a new DefaultServiceContainer, registers all of EasyNetQ’s components, and then calls container.

[2018-05-23 10:48] #784 closed

[2018-05-24 19:49] zvolkov commented on #758
We are getting a similar error when running under load:

`System.NotSupportedException

Pipelining of requests forbidden

 at EasyNetQ.Producer.ClientCommandDispatcherSingleton.Invoke(Action`1 channelAction)
   at EasyNetQ.RabbitAdvancedBus.ExchangeDeclare(String name, String type, Boolean passive, Boolean durable, Boolean autoDelete, Boolean internal, String alternateExchange, Boolean delayed)

E

[2018-05-25 14:11] Pzixel opened #793 "Support NACK on exceptions"
It's crucial to me to `nack` a message if I didn't handle it. Currently if my application crashes the message just dissapears. I have read the documentation that says

But shouldn't it be default? It's suprising to me that I have to create yet another queue and republish messages manually when it's simply shouldn't be `ack`'ed.

My problem is that I must preserve messages order. If some message th

[2018-05-25 14:47] Pliner commented on #793
Hi @Pzixel,

You can do it right now(2. and 3. are optional :wink:):
1. Override `IConsumerErrorStrategy`:
[code]
2. Reduce prefetchCount to 1.
3. Only one consumer in time should consume messages: you might use `ExclusiveConsumer` feature or somehow implement it manually.

[2018-05-25 15:04] Pzixel commented on #793
Hi there.

I actually have a single consumer so I likely would like to use your latest suggestion. Thank you for advice, going to check documentation.

[2018-05-25 15:46] Pliner commented on #793
Could you show me full example which I can run?

[2018-05-25 16:07] Pzixel commented on #793
[code]

[2018-05-25 16:33] Pliner commented on #793
Hmm, and where I can find publishing side? Ok, I've done it myself and hope it behaves as your example.

[code]

![image](https://user-images.githubusercontent.com/664889/40555485-bcee05e8-6062-11e8-8581-5d5d720a9545.png)
![image](https://user-images.githubusercontent.com/664889/40555513-d5cace2a-6062-11e8-86de-c7d8e279fb68.png)
![image](https://user-images.githubusercontent.com/664889/40555530-e1

[2018-05-25 16:38] Pzixel commented on #793
What are access rights of your reader? In my case:

![image](https://user-images.githubusercontent.com/11201122/40555879-320ba048-6053-11e8-98b3-a67f3e8ac57b.png)

User should have publish rights to `NACK` the message?

[2018-05-25 16:55] Pliner commented on #793
![image](https://user-images.githubusercontent.com/664889/40556389-ea439d8e-6065-11e8-8a97-162fdbc51c35.png)
![image](https://user-images.githubusercontent.com/664889/40556419-019228d4-6066-11e8-90f3-9af74664f154.png)
![image](https://user-images.githubusercontent.com/664889/40556440-0ffc9e04-6066-11e8-984a-62e640308e21.png)

[code]

And still it works as expected. What versions of EasyNetQ and Ra

[2018-05-25 16:57] Pliner commented on #793
Also if I will disable `Configure` permission nothing will change.

[2018-05-25 17:00] Pzixel commented on #793
3.0.0 and 3.7.5 respectively.

Well, it's a friday, and I have to go. Let's continue our great talk at monday. I wish you a happy weekend.

[2018-05-25 17:18] Pliner commented on #776
https://github.com/dotnet/coreclr/issues/17529

[2018-05-25 18:01] #719 closed

[2018-05-27 11:12] Pliner commented on #519
I hope we can close this issue.

rabbitmq/rabbitmq-dotnet-client#406

AutoClose will become obsolete very soon.

[2018-05-27 11:12] #519 closed

[2018-05-28 12:27] mmikirtumov commented on #758
Hi @zvolkov ,

Do you have any logs from RabbitMQ server?

Thanks

[2018-05-28 15:28] Pliner commented on #758
@zvolkov @mmikirtumov  Thanks for reopening of this issue.

@zvolkov Could you try to update to the [latest](https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.0.0) or at least to [2.3.2](https://github.com/EasyNetQ/EasyNetQ/releases/tag/2.3.2) and check?

[2018-05-29 22:14] zvolkov commented on #758
One interesting detail: We have the Publisher Confirms enabled by default. I saw a comment on #445 saying:

Could this be related?

[2018-05-31 13:22] Pzixel commented on #793
Sorry for late response, I have suddenly been burrowed under tons of others tasks.

I have been tested following code:

[code]

And it worked as expected.

Thank you, it really solves the problem. All bad messages stays in the queue and are requested a bit later

[2018-05-31 13:22] #793 closed

[2018-05-31 20:17] Pliner commented on #723
@nickwb @stevenxi It seems very suspicious, but in practise works well. Did you find something interesting about this issue?

[2018-06-01 12:50] Pzixel commented on #793
I'd like to ask yet another question: how can I implement requeue with delay?

[2018-06-04 07:26] Vladimirezh commented on #758
Hey. I had the same problems. I have preprocessed some interfaces and got a stack:

I logged thread ids. It turned out that the error occurs when the InternalConsumer object is dispose:
`public void Dispose()                                                                                  `
`    {                                                                                                 `
`

[2018-06-04 09:11] stevenxi commented on #723
@Pliner It seems working with no issue so far. So I would say it's ok to close this issue?

[2018-06-04 09:41] nickwb commented on #723
Yes, I agree. I've seen no further issue since #111 was solved.

[2018-06-04 14:41] zvolkov commented on #758
@Vladimirezh that's cool, thanks for your help! Is there a way to plug-in my custom implementation of  InternalConsumerFactory & InternalConsumer, or would I have to build EasyNetQ from source code?

[2018-06-04 15:08] Vladimirezh commented on #758
You can plug-in this solution and test that without rebuild sources EasyNetQ. Wiki contains examples of DI. Register IInternalConsumerFactory interface with your InternalConsumerFactory
 That's all. After write your test results to this topic,pls.

[2018-06-04 16:42] Pliner commented on #758
@Vladimirezh Thanks for the details. We have to investigate why it's happening.

[2018-06-04 16:46] Pliner commented on #723
Thanks!

[2018-06-04 16:46] #723 closed

[2018-06-04 17:16] Vladimirezh commented on #758
@Pliner I think that this is something like a deadlock. Dedlock didnёt happen because Dispose throws TimeoutException. I proceeded from the fact that the Model is not thread safe. I proxy the consumer IModel and logged the method, model number (just inc int then create model called) and thread id of call. When an error occurred, it was always called Dispose. Dispose throws TimeoutException, then a

[2018-06-04 17:39] Pliner commented on #758
Could you clarify a bit @Vladimirezh , did ACK come from `HandlerRunner`? In #723 @stevenxi found very dangerous situation and I think these issues can be related.

[2018-06-04 17:48] Pliner commented on #776
@boffman Could you try the latest version of EasyNetQ and the released version .NET Core 2.1 SDK?

[2018-06-04 18:33] Vladimirezh commented on #758
@Pliner I dont remember the call stack. Tomorrow I'll try to make a log from start up to an error with call stacks.

[2018-06-04 18:34] Pliner commented on #758
Thanks. Will wait for it 😜

[2018-06-05 12:28] Vladimirezh commented on #758
[Service.txt](https://github.com/EasyNetQ/EasyNetQ/files/2072322/Service.txt)
This is log with error.

[2018-06-06 17:04] tiaroque opened #796 "EasyNetQ Advanced Bus Event Handlers not accessible"
The new version doesnt let me configure the CreateBus and set the AdvancedBusEventHandlers as described in the documentation

`var buss = RabbitHutch.CreateBus("host=localhost", new AdvancedBusEventHandlers(connected: (s, e) =>
{
      var advancedBus = (IAdvancedBus)s;
      Console.WriteLine(advancedBus.IsConnected); // This will print true.
}));`

[2018-06-06 17:13] Pliner commented on #796
Yes, sorry, we changed a way how you can configure it.

You can configure it by replacing default AdvancedBusEventHandlers to yours.

[code]

Could you give me a link to the documentation and I will fix it?

[2018-06-06 21:55] tiaroque commented on #796
Thank you for your quick response,
this is the link: [https://github.com/EasyNetQ/EasyNetQ/wiki/The-Advanced-API]
The outdated code is the last bit in the bottom of this page

[2018-06-07 02:30] Pliner commented on #796
Thanks!

[2018-06-07 02:30] #796 closed

[2018-06-07 13:27] mmikirtumov commented on #776
@Pliner which version you mean 3.0.0?

[2018-06-07 15:34] mmikirtumov commented on #776
I use AutoSubscribe. When I publish it works correct, but unfortunantly my subscriber do not recieve any data. This problem appeared when I update to version .net core 2.1, in version 2.0 it works fine.

[2018-06-12 20:02] mhsimkin opened #797 "Support for Microsoft.Extenions.*"
Does EasyNetQ support Microsoft.Extensions.DependencyInjection and Microsoft.Extensions.Logging?

Thanks

[2018-06-12 20:03] zidad commented on #797
Not yet, but it's high on my wishlist...

[2018-06-13 11:55] Pliner commented on #797
We can implement DI support as part of 3.1.

[2018-06-13 15:15] mhsimkin commented on #797
@zidad, @Pliner I have attached my attempt to integrate the Microsoft DI framework with EasyNetQ. I looked at what you did for the other DI extensions.

It compiles through, however I have not actually tested if it works yet.

Your welcome to use this code as a starting point.

[MsDiExtensions.zip](https://github.com/EasyNetQ/EasyNetQ/files/2098752/MsDiExtensions.zip)

-marc

[2018-06-13 20:39] Pliner commented on #797
Many thanks!

[2018-06-13 20:44] Pliner commented on #797
Will be fix by https://github.com/EasyNetQ/EasyNetQ/pull/798

[2018-06-13 20:44] #797 closed

[2018-06-16 11:16] Pliner commented on #758
@mmikirtumov I forgot about your log, sorry.

Could you clarify a bit what does `Number` mean?

[2018-06-16 11:32] Vladimirezh commented on #758
In the course of work, many copies of IModel are created, I numbered them. This gives an idea of ​​the thread in which the instance was created and in which it is used.

[2018-06-17 08:20] Pliner opened #801 "If IConsumerErrorStrategy throws Exception, message remains unacked"
**Intro**

We need a special strategy which will throw exceptions every time.
[code]
Also we change `prefetchCount` to 5.

Here is a snippet to reproduce this issue:
[code]

Publisher will send messages every 5 seconds and consumer will throw exception on every message it receives.

**Observations**

Until prefetchCount was reached, number of unacked messages was growing.

![image](https://user-im

[2018-06-17 17:42] Pliner commented on #754
I tried your scenario with some fixes and I cannot reproduce the issue.

`EasyNetQ.Hosepipe.exe insert s:localhost u:admin p:admin o:republish q:TestQ` -> `EasyNetQ.Hosepipe.exe insert s:localhost u:admin p:admin o:messages q:TestQ`

Maybe it was a mistake in your case.

Also it seems that Hosepipe [has](https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ.Hosepipe/Program.cs#L86) vho

[2018-06-17 17:42] #754 closed

[2018-06-19 11:13] jeremyyang824 opened #804 "How to rebuild client consumers and queues after RabbitMQ broker re-connected?"
Hi,

Now I met a problem that each time the RabbitMQ broker stop/restart (and the Queue/Exchagne been removed).
The client will try to connect and re-establish the connection. But after the connection re-established, it will raise an exception:
"Consume with consumerTag xxx from queue xxx has failed
RabbitMQ.Client.Exceptions.OperationInterruptedException: The AMQP operation was interrupted: AMQP

[2018-06-20 14:11] #801 closed

[2018-06-20 15:43] Pliner commented on #776
I tried the attached example on my mac with netcore2.1 and it works fine.

[EasyNetQ.Examples.zip](https://github.com/EasyNetQ/EasyNetQ/files/2120076/EasyNetQ.Examples.zip)

[2018-06-20 15:43] #776 closed

[2018-06-21 20:13] sungam3r opened #806 "Possible redundant line"
It seems that this line of code is redundant:
https://github.com/EasyNetQ/EasyNetQ/blob/b7b02437897b2211fc40b699a7c731fe2e1f8c69/Source/EasyNetQ/Producer/Rpc.cs#L97
because state param is always null. Besides, timer will be anyway disposed inside RegisterErrorHandling method
https://github.com/EasyNetQ/EasyNetQ/blob/b7b02437897b2211fc40b699a7c731fe2e1f8c69/Source/EasyNetQ/Producer/Rpc.cs#L118
and

[2018-06-22 03:56] rbanks54 opened #807 "Microsoft DI scope validation causes exceptions"
When resolving dependencies using the .NET Core Microsoft DI container the following exception occurs:
`System.InvalidOperationException
  HResult=0x80131509
  Message=Cannot consume scoped service 'EasyNetQ.DI.IServiceResolver' from singleton 'EasyNetQ.IAdvancedBus'.
  Source=Microsoft.Extensions.DependencyInjection`

This is because singletons that depend on scoped/transient objects can result i

[2018-06-22 03:58] Pliner commented on #807
Hi @rbanks54!

Unfortunately, the exception didn't attached to your issue :cry:

[2018-06-22 03:58] rbanks54 commented on #807
hehe - updating it now. I hit enter too early :-P

[2018-06-22 04:22] Pliner commented on #806
Hi!

Thanks for reporting. Yes, it seems the line is redundant.

Could you make a PR fixing this issue?

[2018-06-22 22:47] sungam3r opened #810 "Consider the possibility of making RawMessage struct (preferably readonly)"
There are three places (Consume and Publish), where this object is created:
https://github.com/EasyNetQ/EasyNetQ/blob/b7b02437897b2211fc40b699a7c731fe2e1f8c69/Source/EasyNetQ/RabbitAdvancedBus.cs#L228
https://github.com/EasyNetQ/EasyNetQ/blob/b7b02437897b2211fc40b699a7c731fe2e1f8c69/Source/EasyNetQ/RabbitAdvancedBus.cs#L338
https://github.com/EasyNetQ/EasyNetQ/blob/b7b02437897b2211fc40b699a7c731fe

[2018-06-25 14:09] TopGuo opened #811 ".net core is supported"
.net core is supported?

[2018-06-25 14:15] Pliner commented on #811
Hi @TopGuo,

As you can see, the latest versions of EasyNetQ were targeted `netstandart20` and `net451`.

So, you can use the `netstandart` version of EasyNetQ in your `netcore` projects.

[2018-06-25 14:15] #811 closed

[2018-06-25 14:17] TopGuo commented on #811
Thank you.I will try it.

[2018-06-27 17:40] mhsimkin opened #812 "Question: Possible to override default ack/nack policy and ConsumerErrorStrategy?"
I'm working on using ENQ to replace our in-house developed RMQ wrapper.

Our current wrapper allows the business logic to decide whether a message should be ack-ed or nack-ed.

Letting the ack/nack decision be made by ENQ would be acceptable provided that I could set the default nack policy to be a nack with a requeue.

I also need to change the default Consumer Error Strategy to nack with a reque

[2018-06-28 11:21] luigiberrettini commented on #518
Closed because related to the ManagementClient

[2018-06-28 16:13] mhsimkin commented on #812
Reviewing the ENQ code base, I think I can derive my own class from HandlerRunner and override the GetAckStrategy method to return AckStrategies.NackWithRequeue when a task is faulted or cancelled, or an exception is thrown.  Otherwise it should return AckStrategies.Ack.

Is this a reasonable approach?

Thanks

[2018-06-28 16:21] mhsimkin opened #813 "HandlerRunner private properties need to be made at least protected"
If it is acceptable to derive from HandlerRunner, then the three private fields should be made protected.

If you are not meant to derive from HandlerRunner then the class should be marked sealed.

Thanks

[2018-06-28 19:38] mhsimkin opened #814 "Single instance of IBus and changing VirtualHosts"
I've read in several places that best practice is to have a single instance of IBus and share it as needed through out the application.

The majority of our applications require at least two different virtual hosts on the same RMQ server.  Is it possible when initiating a publish, subscribe, etc to set the virtual host that should be used?  If so, how?

If not, is the best practice to have an inst

[2018-06-29 12:04] zidad commented on #813
Why would they need to be protected? They are passed in via the constructor, so you can save them in a new field in the derived class?

[2018-06-29 12:14] zidad commented on #814
Hi @mhsimkin, in your case I you need to have two instances of IBus indeed, as you need 2 different connections. There's nothing against that.

I think the most important reason for this recommendation for sharing a bus instance is to prevent users to instantiate a bus every time they want to publish a message.

The default container is too simple for this, but if you use a DI container such as au

[2018-06-29 13:28] zidad commented on #810
I think this could be a good idea, thanks a lot! Are you willing to send a PR?

[2018-06-29 13:30] zidad commented on #812
@mhsimkin yes for sure this is a reasonable approach, I do it in my projects too...

[2018-07-02 02:43] rbanks54 commented on #807
PR merged. Closing this issue.

[2018-07-02 02:43] #807 closed

[2018-07-02 15:38] #812 closed

[2018-07-02 15:56] #813 closed

[2018-07-03 08:58] mixandmatch025 opened #817 "AutoSubscriber attributes don't work with IConsumeAsync"
AutoSubscriber looks for methods with the name 'Consume'. Since 3.0.0 the name of the consume method in IConsumeAsync is now ConsumeAsync, hence AutoSubscriber doesn't consider it when searching for ForTopicAttribute, SubscriptionConfigurationAttribute and AutoSubscriberConsumer

[2018-07-03 09:09] zidad commented on #817
Thanks to bringing this to our attention. Will fix ASAP.

[2018-07-03 12:29] Pliner commented on #817
The reason is here.

https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/AutoSubscribe/AutoSubscriber.cs#L241

Actually, we renamed async version of `Consume` to `ConsumerAsync`.

[2018-07-03 12:45] zidad commented on #817
fix is on its way

[2018-07-03 12:47] zidad commented on #817
@Pliner could you please review the PR? and are you ok with making this a hotfix?

[2018-07-03 12:55] zidad commented on #817
Nope, I removed that whole method as it wasn't referenced anymore, so that didn't seem to be the reason :)

[2018-07-03 13:47] mhsimkin opened #819 "Is the auto reconnect logic configurable?"
Is it possible to configure how frequently ENQ will try to reconnect to a RMQ host? For example, every 10 seconds, every 30 seconds, every 1 minute, etc.

Also, is it possible to configure how many times ENQ will try to reconnect before giving up and throwing an error?

Thanks

[2018-07-04 13:36] zidad commented on #817
@mixandmatch025 We've issued a hotfix build, could you try https://www.nuget.org/packages/EasyNetQ/3.1.1?

I also noticed attributes on explicit interface implementations of Consume<> and  ConsumeAsync<> have never worked properly, this should now be fixed (and be more extensively covered by unit tests to prevent regression).

Thanks again for letting us know!

[2018-07-04 14:24] mixandmatch025 commented on #817
Will do, thanks for the quick fix

[2018-07-04 15:06] mixandmatch025 commented on #817
Updated to 3.1.1, and everything working great! Thanks again

[2018-07-04 15:07] #817 closed

[2018-07-04 15:14] zidad commented on #817
thanks for the quick response!

[2018-07-11 05:49] josephjoychristopher opened #822 "File Not Found Exception in easyNetQ package for .net core"
Getting exception in .net core console application whiling receiving the published event from the queue. receiver throws following in error queue.  but same code works charm in .net framework 4.6.2.

{"RoutingKey":"ha.TestMessagesQueue","Exchange":"","Queue":"ha.TestMessagesQueue","Exception":"System.AggregateException: One or more errors occurred. (Could not load file or assembly 'Publisher, Cult

[2018-07-11 07:17] Pliner commented on #822
Hi @josephjoychristopher,

Could you tell me the version of EasyNetQ?

Also the reason of your problem can be new `TypeNameSerializer` in [v3 release](https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.0.0).

[2018-07-11 10:34] Pliner commented on #822
Did you try to call `EnableLegacyTypeNaming`? I seems it can help :)

[code]

[code]

[2018-07-11 11:35] vborza opened #823 "Possiblity to use custom error queue per queue instead of one default error queue"
Hi,
we would like to use EasyNetQ as a layer of abstraction on top of RabbitMQ-Net library. The thing which we don't like however is, that all the error messages go to one queue. I was looking into the code of `DefaultConsumerErrorStrategy` and I realized, that instead of implementing custom one, it would be enaugh to customize the `ErrorQueueNameConvention` in `IConventions`.
Problem is, that `Er

[2018-07-11 12:39] Pliner commented on #823
Hi @vborza,

I think we have merely the same addition here(#481). I can update it and add to EasyNetQ, but if you would like to do it yourself - you are welcome.

[2018-07-11 13:07] vborza commented on #823
Cool, so basically the conflicts need to be resolved in the pull request and code in the source branch changed appropriately and it's good to go? Or should I create new feature branch for that?

[2018-07-11 13:10] Pliner commented on #823
The sequence of actions is the following:
1. Fork EasyNetQ repository
2. Create branch and fix an issue there
3. Create pull request from your EasyNetQ's fork to main EasyNetQ repo.

[2018-07-11 20:04] mhsimkin commented on #814
Hi @zidad, I'm re-opening this as I have a question.

I understand the need for either named or separate scopes if I'm using DI. I'm trying to figure out how I can actually implement this using the Microsoft DI.

Do you have any advice?  As much as I would like to use AutoFac, Ninject, etc.  I can't mandate to the other teams what DI framework to choice.  I can mandate that the framework needs to

[2018-07-11 22:16] mhsimkin commented on #814
To provide a bit more insight.  The disconnect in my mind right now is the RabbitHutch.RegisterBus method.

If I need to have different IBus instances to support different connections the server, how can I call RegisterBus multiple times with different ConnectionConfigurations?

You would take the last instance of the ConnectionConfiguration registered and use that for all future resolutions.

Tha

[2018-07-12 05:41] josephjoychristopher commented on #822
I have two console application one publishes the event and  other receives it from the queue.
As of now, we been consuming with the Custom Object type {{message}} which is local to the each application.

While doing so, unable to retrieve the message. while i tried to keep the message in separate class library project and refer in both sender and receiver, I could able to retrieve the message.

I

[2018-07-12 13:38] Pliner commented on #823
@vborza Do you need any help with this issue?

[2018-07-13 09:32] zidad commented on #814
I'm no expert in Microsoft DI, but I think you can just created 2 instances of IServiceCollection, and call RegisterEasyNetQ on both of them, with different connection strings.

[2018-07-13 14:06] mhsimkin commented on #814
While creating two instances of the IServiceCollection is a possibility, it might open up a whole set of other issues.

Based upon my understanding of the Microsoft DI, all services need to be registered as part of application startup.  Then the service provider is instantiated.  Once that is done, you can't register/unregister any more services.

If I need to create an IServiceCollection for each

[2018-07-13 17:59] zvolkov commented on #758
Any updates on this? The error is back, even with Vladimirezh's proposed workaround in place.

[2018-07-14 09:31] Pliner commented on #822
@josephjoychristopher

1. The case when consumer and publisher have its own types was supported only with non-generic `IAdvancedBus.Publish` (in your example `IAdvancedBus.Publish<T>` was used).
2. The only way to use `IAdvancedBus.Publish<T>`(with`IAdvancedBus.Consume<T>`) is to have shared library with types.

I corrected your example and now it works.

[EasyQTestCore.zip](https://github.com/Eas

[2018-07-14 22:50] Pliner commented on #758
I run several experiments. Unfortunately, I can't reproduce exactly this issue, but I have reproduced some crashes described in #723 and it can be a reason of the current issue.

So, the simple repro is the following:

[code]
This code leads application to crash. I guess the reason of it is acking of messages in thread pool instead of consumer dispatcher thread.

Now I'm in process of creating a f

[2018-07-15 06:58] #804 closed

[2018-07-16 02:03] #822 closed

[2018-07-16 02:03] #773 closed

[2018-07-16 05:20] josephjoychristopher commented on #822
Thank you Pliner

[2018-07-16 07:52] vborza commented on #823
@Pliner, when is the next release planned?

[2018-07-16 08:12] Pliner commented on #823
@vborza I can follow it [here](https://github.com/EasyNetQ/EasyNetQ/pull/827).

To be honest, we have to ship #826 as part of 3.3.0.

If you need changes from #824 I can merge it to develop. Is it ok for you to depend on prerelease package(for example, https://www.nuget.org/packages/EasyNetQ/3.3.0-alpha0003)?

[2018-07-16 09:44] josephjoychristopher opened #828 "unable to resolve IEasyNetQLogger in the code although using EasyNetQ Namespace. but works prior to v3.0"
unable to resolve IEasyNetQLogger in the code although using EasyNetQ Namespace. but works prior to v3.0

    var consoleLogger = new ConsoleLogger();
            var bus = RabbitHutch.CreateBus($"host=testhost", x => x.Register<IEasyNetQLogger>(_ => consoleLogger));

[2018-07-16 10:02] Pliner commented on #828
Hi @josephjoychristopher,

Yes, we removed `IEasyNetQLogger` in [3.0.0](https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.0.0) and migrated to [LibLog](https://github.com/damianh/LibLog) as logging abstraction.

If you need console logger you can configure LibLog in the following way:
[code]

If you need any help with LibLog, please, do not hesitate :wink:

[2018-07-16 10:02] #828 closed

[2018-07-16 19:36] #814 closed

[2018-07-16 19:57] mhsimkin opened #829 "Question: How to register implementation of service at runtime?"
I need to override the IConsumerErrorStrategy and IHandlerRunner. The choice of which specific implementation of either service will not be made until runtime.

How can I register the specific implementation types that should be used? For example:

[code]

The underlying LightInject::IServiceRegistery will allow registration via Type objects.  ENQ currently doesn't provide that support.

How can I

[2018-07-17 03:57] Pliner commented on #829
Hi @mhsimkin,

Could you provide use cases when you need to override `IConsumerErrorStrategy` and `IHandlerRunner`?

Maybe we can solve your problem in other way :wink:

[2018-07-17 03:57] Pliner commented on #823
@vborza I merged #824 to dev.

[2018-07-17 03:57] #823 closed

[2018-07-17 05:58] zidad commented on #829
I don't fully understand the question, you should have access to the underlying service registry before it's built?

I'd probably try to configure, instantiate and start everything on startup, not runtime. And this looks like a race condition waiting to happen :)

[2018-07-17 08:35] Pliner commented on #758
@zvolkov, @Vladimirezh, @mmikirtumov Could you try dev version?

https://www.nuget.org/packages/EasyNetQ/3.3.0-alpha0005

[2018-07-17 08:52] mhsimkin commented on #829
@zidad by runtime, I do mean start up and not during coding.

@Pliner , I'm putting together a library that will wrap ENQ for most uses.  I'm overriding IConsumerErrorStrategy and IHandlerRunner to match how our applications currently handle what happens to messages upon errors.  Overall, messages should always be requeued to the original queue upon error and they should not be sent to a dedicated

[2018-07-17 12:04] zidad commented on #829
I think the whole point of having a system that can plug in different containers is to be able to use their specific features; p

I use a lot of autofac specific tricks. If it's not possible with LightInject, we have review that.

[2018-07-17 14:04] #829 closed

[2018-07-17 16:46] Pliner commented on #829
@mhsimkin If I understood your correctly, you wanna overload IConsumerErrorStrategy per subscription. Am I right?

PS It's a PITA for me too.

[2018-07-17 16:55] zidad commented on #829
sounds like a good candidate to include in the subscription attribute?

[2018-07-17 16:58] mhsimkin commented on #829
I need the ability to supply different IConsumerErrorStrategy and IHandlerRunner per connection, not per subscription.

I'm wrapping the ENQ classes inside my own objects.  I'm doing this because (a) I need to make sure that certain behaviors are implemented by all users; (b) We are planning on switching to Azure at some point in the next 12 months.

I'm building a set of interfaces that are commo

[2018-07-17 17:00] Pliner commented on #819
Hi @mhsimkin,

EasyNetQ has several places to configure:

1. `PersistentConnection` tries to reconnect every `ConnectionConfiguration.ConnectIntervalAttempt` .
2. `PersistentChannel` tries to reopen channel during `ConnectionConfiguration.Timeout` or infinite timeout with exponential backoff.

I hope very soon we will migrate to reconnection mechanics of RabbitMQ.Client. It has very simple reconne

[2018-07-17 17:00] #819 closed

[2018-07-18 02:50] #611 closed

[2018-07-18 03:55] Pliner commented on #434
It seems I reproduced this issue accidentally in #826 and it fixed now.

@vorou It was very-long life bug 😞

[2018-07-18 03:55] #434 closed

[2018-07-18 04:07] Pliner commented on #758
@zvolkov, @Vladimirezh, @mmikirtumov Feel free to reopen this issue if the problem will happen again in 3.3.

[2018-07-18 09:49] #645 closed

[2018-07-18 09:49] Pliner commented on #645
Moved to EasyNetQ/Management.Client.

[2018-07-18 14:17] #322 closed

[2018-07-18 14:47] Pliner commented on #557
[Experiment 2.zip](https://github.com/EasyNetQ/EasyNetQ/files/2206222/Experiment.2.zip)

I tried to reproduce the issue, but everything works as expected: recreation of subscriptions works.

The only advice I have is to try newest version.

[2018-07-18 14:47] #557 closed

[2018-07-20 16:43] Pzixel opened #832 "Doesn't read messages from the queue"
For some reason, EasyNetQ doesn't read messages from the queue. I see active connection in the management interface, but it still inactive.

I see following in my logs:

[code]

How can I get why messages are not read? I have following handlers:

[code]

but they aren't called...

It worked for a while but suddenly stopped to work. I don't recall changing anything, and logs says nothing.

[2018-07-21 05:45] Pliner commented on #832
Hi @Pzixel,

Could you tell the version you are using? Also it will be awesome if you will attach a minimal repro example.

[2018-07-21 19:07] Pzixel commented on #832
Sorry, that was my fault, in specific circumstances `Consume` method wasn't called. Sorry for bothering :) Have a nice day.

[2018-07-21 19:07] #832 closed

[2018-07-23 02:22] Pliner opened #833 "Non-generic overloads should be part of IPubSub, IRpc, ISendReceive, IScheduler interfaces"
#558

[2018-07-23 02:28] Pliner opened #834 "Rewrite RPC with async API"

[2018-07-23 02:29] Pliner opened #835 "Rewrite SendReceive with async API"

[2018-07-23 02:32] Pliner opened #836 "To cache declaration of exchange/queue/binding in implementations of IScheduler"

[2018-07-23 08:56] Pliner opened #837 "To have IBus extension methods to minimise difference between v5 and v6"

[2018-07-23 18:30] mhsimkin opened #838 "Milestone 3.3.0 breaking change in HandlerRunner / DefaultConsumerErrorStrategy?"
Hi:

I noticed that you just released version 3.3.0. There seems to be some breaking changes in HandlerRunner.cs.

1) The constructor has changed to only accept IConsumerErrorStrategy dropping IEventBus.
2) The GetAckStrategy method is now longer part of the class.

I noticed that for any errors/exceptions AckStrategies.NackWithRequeue is now the default.

I noticed that AckStrategies.NackWithoutR

[2018-07-23 21:02] francisminu commented on #828
Hi,
How do I disable this logging? We use Serilog and now every detail is being displayed on the console and is not intended. Is there a way to stop the logs being written?

[2018-07-24 02:39] Pliner commented on #828
@francisminu Could you tell which logging level are you using? EasyNetQ doesn't spam to log so much if Information level is chosen, but may be something is wrong. Could you explain what kind of messages you don't want to see?

If you want to completely disable EasyNetQ logging, you can:
1. Configure `LogProvider.SetCurrentLogProvider` by some dummy LogProvider.
2. Filter `SourceContext` using  `Ea

[2018-07-24 14:30] Pliner commented on #838
Is it the same `IConsumerErrorStrategy`? :wink:

[code]

[2018-07-24 14:33] mhsimkin commented on #838
@Pliner that is basically what I have.  I have added some logging as well as the ability to raise an event to the caller.

[2018-07-24 15:06] francisminu commented on #828
Thank you so much @Pliner for pointing in the right direction. We had 0 as the level and that was why it was logging all the information on the console. We were worried as we did not want the whole information in the log files as well as it might prevent from retaining the files with the actual information. I was able to exclude the EasyNetQ files as you mentioned and now we are logging only Error

[2018-07-25 14:51] rspandi1985 commented on #828
Pliner,
 Can you paste example of how to filter sourcecontext? I am doing this but I still see logging from easynetq in my log file.

 var a = Matching.FromSource("EasyNetQ.RabbitAdvancedBus");
            var b = Matching.FromSource("EasyNetQ.Consumer.HandlerRunner");
            var c = Matching.FromSource("EasyNetQ.Consumer.BasicConsumer");
            _loggerConfiguration = new LoggerConfigura

[2018-07-25 14:53] francisminu commented on #828
Hi @rspandi1985
This is how I got it working:
var expr = "SourceContext = /EasyNetQ.*/";
Now, add this to the Logger configuration like below:
.WriteTo.Logger(l => l.Filter.ByExcluding(expr)

Let me know if this works.

[2018-08-07 08:10] tranquilone opened #842 "Log message has a wrong token name for source exchange"
The log message in the RabbitAdvancedBus.cs for bounding the exchange to exchange has a wrong token for source exchange
`logger.DebugFormat(
"Bound destination exchange {destinationExchange} to source exchange {destinationExchange} with routingKey={routingKey} and arguments={arguments}",
destination.Name,
source.Name,
routingKey,
arguments.Stringify()`

The message should be changed to
"Bound dest

[2018-08-07 10:41] Pliner commented on #842
Hi @tranquilone,

Thanks for reporting!

[2018-08-07 12:50] tranquilone commented on #842
Hi @Pliner, thank you!

[2018-08-08 14:11] BlueDemonChicken commented on #524
the same problem above with using the newest version

[2018-08-09 11:25] josephjoychristopher opened #844 "Can it is permissible to catch the timeout exception with advanced bus handlers."
Can it is permissible to catch the timeout exception with advanced bus handlers.
Also, can we use rabbithutch.create return object to keep as singleton rather creating and disposing the object again and again.

[2018-08-09 12:16] MERamadan commented on #451
I see this issue is closed, but strongly signed assemblies also required by some products such as Microsoft Dynamics CRM or Microsoft SharePoint, so If you want a scenario such as enqueue message to RabbitMQ from Microsoft Dynamics CRM plugin, the plugins assembly have to be strongly signed, which means it has to have all references as a signed assemblies too. Here, where EasyNetQ is failing.

You

[2018-08-10 02:17] #842 closed

[2018-08-13 16:50] InKolev opened #845 "Manual acknowledgement for consumed messages?"
Hi guys,
I have a non-trivial case, where I have a queue with multiple message types and a single consumer subscribed to this queue.

Additionally, I want to **buffer messages** (based on some business logic) and only acknowledge them, when I am sure that they are successfully processed.

Basically what I need is to **disable** the default ack behavior that acks the message once the onMessage hand

[2018-08-15 13:12] coelacanth16 commented on #845
https://github.com/EasyNetQ/EasyNetQ/issues/333

https://stackoverflow.com/questions/33180108/does-easynetq-support-nack

Seems that this is not a goal of EasyNetQ?

I wanted to parrot this most recent request even though this question has been asked many times before [it seems]. I really like EasyNetQ, since I can replace some components and it handles failures well. I want RabbitMQ to be the tru

[2018-08-15 13:38] Pliner commented on #845
Hi @InKolev,

It's a but change and we can try to implement in after 4.0 version.

@zidad @micdenny WDYT?

Hi @coelacanth16,

Several versions ago we changed behaviour of DefaultConsumerErrorStrategy and HandlerRunner. They became much more safer in case of message lost.

https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.1.0

https://github.com/EasyNetQ/EasyNetQ/pull/803

Is it ok for you or you

[2018-08-15 15:12] coelacanth16 commented on #845
I see what you're doing there. I think that's a good idea and it could solve most people's issues.

Perhaps I still don't fully understand how EasyNetQ works, but it seems like IConsumerErrorStrategy only takes effect once the result of the consumer message handling function is returned. Correct?

In my case, I'm putting work (from a message) on a queue to be processed asynchronously. If the serve

[2018-08-15 21:59] poteb commented on #845
Reading the RabbitMQ confirm documentation (https://www.rabbitmq.com/confirms.html) you'll see that all the acks/rejects are in the Received scope.
I don't see how this can be done if RabbitMQ doesn't support manual ack outside the Received scope.

[2018-08-16 12:37] poteb commented on #845
I do think you are right about one channel per bus.
When exiting the Received scope you HAVE to make a descission about what to do about he message.
Nack it and it'll keep it position in the queue, but then someone else might pick it up, and then what happens if two consumers try to manual ack it? First might succeed but the second should fail. Not a great scenario.
Reject will drop the message, R

[2018-09-04 07:01] xiedeyou opened #854 "How do I use ExchangeType.Fanout subscribe to a exchange?"
Exception:
The AMQP operation was interrupted: AMQP close-reason, initiated by Peer, code=406, text="PRECONDITION_FAILED - inequivalent arg 'type' for exchange 'broadcastNewAccountExchange' in vhost 'Broadcast': received 'topic' but current is 'fanout'", classId=40, methodId=10, cause=

[2018-09-04 13:06] Pliner commented on #854
Hi @xiedeyou,

Could you provide minimal example which can reproduce an issue?

[2018-09-08 21:40] jonharson commented on #845
I have a attached a fork that allow for manual ack'ing here: https://github.com/EasyNetQ/EasyNetQ/pull/641#issuecomment-419668069

To be honest I don't see much value in unack myself and assume that if you consumed the message it has been handled, no matter the client error state you ack or fucked up, unack should be limited to the edge cases of transport level error only. In the case of consumer

[2018-09-09 05:37] poteb commented on #845
@jonharson
I use unack when I have a service that takes messages off a queue and post them to an API. I unack the message in case of communication errors. Always use a curcuit breaker when doing this.

[2018-09-14 20:32] eramosr18 opened #856 "Don't know if this goes here"
I having an issue like this one described here, not sure if it goes here or in the original repo:
https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/458

[2018-09-14 21:41] michaelklishin commented on #856
Please move this to the [EasyNetQ mailing list](https://groups.google.com/forum/#!forum/easynetq).

[2018-09-15 16:12] stevenxi commented on #758
Sadly this issue happens to me since yesterday. And only happen on a specific server. No idea why yet.

[2018-09-15 16:35] stevenxi commented on #758
I've got this issue too recently, although it's a bit older version.
Did few investigation, it seems caused by a wrong DI config from my mistake.
@zvolkov, @Vladimirezh, @mmikirtumov  Do you use any DI framework? (apart from RabbitMQ's own DI)

[2018-09-15 18:08] stevenxi commented on #758
I've ran into the same issue...
What very strange is, it happens only on one server. And that server has nothing changed, apart from few sql db restored. And I don't think they're directly related.  Only thing could be related is the db change causes performance change.

Never saw this error on the same server.
I've also tried roll back sever different code version. 80% of chance got this error.

[2018-09-15 18:34] Vladimirezh commented on #758
@stevenxi I would start with updates and check the difference of servers settings. For example, can there be a connection erros with him periodically? Then it can help in finding the problem.

[2018-09-15 18:45] stevenxi commented on #758
@Vladimirezh  Thanks.  I wouldn't worry too much about the server itself. It's a test server.
I'm more interested to find out why this error happen.

[2018-09-15 18:54] Vladimirezh commented on #758
@stevenxi Add logger to easynetq (https://github.com/EasyNetQ/EasyNetQ/wiki/Logging ). Reproduce error and attach logs with your message.

[2018-09-15 19:04] stevenxi commented on #758
@Vladimirezh   I had not just added logger, but also was able to track the error.  Strange thing is all errors from the same thread, which is expected from same thread (as the dispatcher). But according to RabbitMQ's document, this exception should only happen if it's invoked from different thread.

[2018-09-15 19:06] Vladimirezh commented on #758
@stevenxi any error in rabbitmq logs?

[2018-09-15 19:10] stevenxi commented on #758
@Vladimirezh   I know exactly what error and where it happens. But just don't know how.
It's likely to be a threading + timing issue.
The way I can see how to solve it is inject into RabbitMQ c# client's RpcContinuationQueue . So it can track where's the previous Enqueue come from without calling Next.
But I can't find an easier way to do it.  Local build RabbitMQ c# client doesn't work. Haven't f

[2018-09-15 22:00] #856 closed

[2018-09-17 10:39] stevenxi commented on #758
@Pliner After bit investigation, I think this error may not from EasyNetQ, at least in our case.  Although I'm not 100% sure yet.

We have very similar issue with this one https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/310

[2018-09-17 10:54] Pliner commented on #758
@stevenxi It's very easy to build RabbitMQ C# Client: just run `build.bat`(or `build.sh`). It will run all needed codegen.

BTW Do you have any sample to reproduce the issue?

[2018-09-17 10:59] stevenxi commented on #758
@Pliner  yea... that's the problem. We have bit of different nuget setup here. The build.bat doesn't work.
I will try to make it work. As currently I only can make it reproduce once a day. Our test server gets busy during mid night, which triggers this exception.
If I can manually add the timeout exception trigger in the rabittmq client, probably I can reproduce this.

Will keep you posted.

BTW,

[2018-09-17 11:10] michaelklishin commented on #758
There is no evidence that this is a .NET client bug.

When a continuation times out it can be a natural consequence that more operations are attempted by application code immediately after. This is something we've seen in at least two other clients with a similar architecture. Either way the caller will get an exception. If it's not a timeout exception but a "pipelining one" the client could be mo

[2018-09-17 14:14] eramosr18 commented on #856
Once again, sorry for the inconvenience. I was able to make it work using a workaround :D. Have a good day!!

[2018-09-17 15:17] stevenxi commented on #758
@Pliner  I've tried to reproduce it but no luck so far.
Now it's bit more difficult to tell if it's a EasyNetQ issue or RabbitMQ .net client issue as @michaelklishin  said.

How it happen seems to be:
1. Right after an disconnect/reconnect event (I'm not sure if this is essential)
2. EasyNetQ: start to declare a queue.
3. RabbitMQ client: ModelBase called m_continuationQueue.Enqueue()
4. RabbitMQ

[2018-09-20 19:53] etomm commented on #758
I think we are having the same error. I created a multi channel ClientCommandDispatcher with a round robin mechanism to retrieve a channel (and channel are never disposed) but even if I am using different IModel for each call I still see this error.

[2018-09-21 15:31] gggggeorge opened #857 "Advanced Bus Consumer Dispose and then Re-consume failing (just like closed #557)"
Hi,

first, EasyNetQ + RabbitMQ = great stuff, thank you!

----
I read through issue #557 (Apr 3, 2016), and this still seems like a bug...?

I've tested this with client code: (and get same, below results):

EasyNetQ.2.1.0
RabbitMQ.Client.4.1.3

and

EasyNetQ.3.3.0
RabbitMQ.Client.5.1.0

----
----
Here is the use case:

A: Subscribe, and have a method "block" until I get 1 message (or a time-out)

[2018-09-21 17:00] zidad commented on #857
Hmm that doesn't sound like a common use case. Normally I'd subscribe on start, process many messages, not 1, and dispose when the service stops...

Can I ask what you're functionally trying to do? Could you achieve this with the RPC support maybe instead?

[2018-09-21 20:49] gggggeorge commented on #857
Hi Zidad,

before you look into this any more, please let me double-check my testing.

I just re-tested on:

1:
EasyNetQ.2.1.0
RabbitMQ.Client.4.1.3

and

2:
EasyNetQ.3.3.0
RabbitMQ.Client.5.1.0

-and it looks like my original testing with (2) might have been pointing incorrectly to the (1) binaries.

----
I might not be able to get back to you for a few days.

Thanks,
George H.
09/21/2018 4:47pm

[2018-09-24 07:56] zidad commented on #857
Thanks for looking into it!

And yes you're right of course, if it doesn't work properly it should be fixed, I was just wondering if how you implemented it is an ideal match for the use case.

Sorry with RPC I meant to say, maybe you can use the Request-Response implementation of EasyNetQ https://github.com/EasyNetQ/EasyNetQ/wiki/Request-Response, sounds a bit like you're trying to do something si

[2018-09-24 12:05] vborza commented on #300
Hi, any progress with this one?

[2018-09-26 13:43] gggggeorge commented on #857
Hi Zidad,

sorry to get back to you so late -so now I understand what you mean by "RPC", and I checked out the documentation (thanks for the link).

I don't think this RPC will fit, as for one of my "client" processes, it does not generate a request message -it does some action (generate a file, etc.), and only waits for a response message (concerning about the file that was now processed, etc.).

[2018-09-26 13:44] #857 closed

[2018-09-26 14:13] zidad commented on #857
Happy it works now, thanks for the feedback!

[2018-09-27 14:05] JMcConahie opened #858 "How do I disable Logging?"
I'm seeing a ton of debug log statements in my log files that I'm generating using NLog. Is there a way to disable EasyNetQ logging statements? Its creating a lot of noise.
Edit: I'm using the Advanced API

[2018-09-27 14:10] vhatsura commented on #455
@mikehadlow , @Pliner, can we return to this issue? It seems that for some people it's very usefull feature. And, as I understand, it isn't hard to implement it.
As I see for ConsumeAsync only `IMessageSerializationStrategy` should be extended to `IMessageSerializationStrategy<TMessage>` and pass message type in the https://github.com/EasyNetQ/EasyNetQ/blob/b7936a70a1b08e1666a208faaf1378d06fc41a09

[2018-10-01 11:47] Zaixer opened #859 "Consume all message types split on multiple threads?"
We currently use a simple setup:
`new AutoSubscriber(bus, "foo").Subscribe(Assembly.GetExecutingAssembly());`

I saw that you can consume a specific message type in parallel, using something like this:
`bus.SubscribeAsync<ParallelMessage>("foo", message => Task.Factory.StartNew(() => { System.Threading.Thread.Sleep(TimeSpan.FromSeconds(5)); }, TaskCreationOptions.LongRunning));`

But we would like

[2018-10-01 15:19] zidad commented on #859
Hi,

My personal preference would be, just start the application multiple times,
and you're done :)

Is that a possibility for you?

W

On Mon, Oct 1, 2018, 12:47 Dennis Jacobsen <notifications@github.com> wrote:

[2018-10-01 19:38] JMcConahie commented on #858
I worked around this issue by creating a custom class that implements ILogProvider and passing it into LogProvider.SetCurrentLogProvider(). Not sure if this is the "correct" way, but it's the way I went with for now.

[2018-10-01 20:10] zidad commented on #858
Thanks for the feedback. I think most log providers have support for filtering entries from based on sources, NLog probably too.

[2018-10-02 08:48] Zaixer commented on #859
Yes it should be possible to start the application multiple times. So that is the best practice for parallel processing?

[2018-10-03 07:47] Zaixer commented on #859
Ok thanks. Is it easier to avoid making mistakes when starting up multiple application instances or why do you prefer that?

[2018-10-03 15:01] zidad commented on #859
Parallel processing in 1 process works fine, there's no silver bullet, a lot of pro's/con's and you need to look at your own situation of course, but:

Yes, I prefer smaller processes because it's by far the easiest way to scale out to multiple machines/containers, higher isolation, less threading issues etc.

More workload in a single big process does allow it to share resources easier (caching f

[2018-10-03 15:06] Zaixer commented on #859
Thanks for the detailed explanation. I close the issue then.

[2018-10-03 15:06] #859 closed

[2018-10-04 10:31] Pliner commented on #858
@JMcConahie Could check your logging level?

https://github.com/EasyNetQ/EasyNetQ/issues/828#issuecomment-407261718

[2018-10-11 13:43] sungam3r opened #865 "Bring Newtonsoft.Json dependency out of EasyNetQ package"
What if I wish to use custom serialization, maybe XML, YAML or even some plain text?
Or if I still wish to use JSON serialization format, but implemented by other package, for example, Jil?

Of course, I can override DI bindings to IMessageSerializationStrategy and/or ISerializer and do anything.
But even after this EasyNetQ will still have binary dependency from Newtonsoft.Json requiring availabi

[2018-10-11 23:01] egdavis opened #867 "DefaultConsumerErrorStrategy Connection Lifetime"
Hello. I have noticed the DefaultConsumerErrorStrategy results in long living connections to the server that do not close. It makes sense that opening and closing the connection each time an error is encountered, is not efficient. Is the design goal to keep it simple and maintain the connection? Or would it make sense to change the default behavior and close the connection eventually? Thanks.

[2018-10-22 09:28] faludigabor opened #868 "Message is not persistent by default?"
Hi ,

I have this basic code to send messages via an exhange to multiple queues . Works but when restarting RMQ messages are gone . By default it should be persistent shouldn't it ?

  var bus = RabbitHutch.CreateBus("host=localhost;persistentMessages=true");
            var advancedBus = bus.Advanced;
            var exchange = bus.Advanced.ExchangeDeclare("configpush", "fanout",true);

[2018-10-22 10:36] poteb commented on #868
No messages are not persistent by default. You need to add MessageProperties to the publish call, setting DeliveryMode=2.
```MessageProperties { DeliveryMode = 2 }```

[2018-10-22 11:49] #868 closed

[2018-10-23 10:10] n3gwave commented on #758
Hi guys, recently I've been facing exactly the same exception and after some investigating I found out this is related to passive declaration (either IModel.QueueDeclarePassive and IModel.ExchangeDeclarePassive).
As stated in rabbitmq client docu (https://www.rabbitmq.com/dotnet-api-guide.html#passive-declaration) if queue/exchange doesn't exists you'll get OperationInterruptedException and this c

[2018-10-23 12:35] Pliner commented on #758
@n3gwave Thanks!

Will try to repro this behaviour and fix it 😜

[2018-10-23 16:05] ot-brett-bim opened #869 "Are Queue Naming Conventions different across versions of the library?"
We have been heavy users of EasyNetQ for several years and queue names have always followed the documentation, e.g. Namespace.Classname:Namespace_SubscriptionId.

Now, in our newer services using .Net core or framework 4.7, we're seeing queue names like this:
"Namespace.Classname, Namespace_SubscriptionId".

This odd behavior is inconvenient when you have existing services you need to subscribe to

[2018-10-23 16:20] Pliner commented on #869
Hi,

Several versions ago we changed the default type name serialiser(https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.0.0).

I hope https://github.com/EasyNetQ/EasyNetQ/wiki/Enable-Legacy-Type-Naming will help you :wink:

[2018-10-23 16:20] #869 closed

[2018-10-23 16:21] #858 closed

[2018-11-01 20:39] n3gwave opened #871 "Make PublishAsync really an async operation"
Hi, I've seen there has been already some talks about making easynetq more robust by utilizing multiple channels  and it would definitely help but I'd like to draw your attention to another issue that we I've recently faced.
As a matter of fact, it's also caused by our 'unique' architecture where each actor calls PublishAsync on busAdvanced in it's own task. In our case we have hundreds of such ta

[2018-11-01 21:21] micdenny commented on #871
I think this would be a good idea, looking forward to see a POC about it,
would help also my application to scale better, actually I know that ENQ
has scalability issue, I didn’t have time to dig into it, and I resolve my
problems scaling firing more process.

Thanks
Michael.
Il giorno gio 1 nov 2018 alle 21:39 Dariusz Fark <notifications@github.com>
ha scritto:

[2018-11-02 07:41] Pliner commented on #871
Hi @n3gwave,

There is one thing to consider: should the queue remain bounded or not, because unbounded queue can lead to OOM very fast :-/

Also we can try to change the size of queue from 1 to 512. Also we can move this parameter to configuration.

@micdenny WDYT?

[2018-11-02 09:18] micdenny commented on #871
Dariusz proposes to avoid the synchronization part of the blocking
collection that blocks the calling thread, even if I think it's hard that
the thread starvation is there, but because of the hundreds task he fires,
if those task are not sub-task the local queues are not used so also the
work-stealing doesn't come in help and here you have the starvation,
probably even without the ENQ blockingCole

[2018-11-02 09:28] Pliner commented on #871
@micdenny 👍

I suspect reasons of starvation are the following(in order of importance):
1. The limitation of size of the queue. Now it can have only one element and what is why a lot of publishing threads waiting for the dispatcher thread until it sends the message to RabbitMQ.
2. Single threaded dispatcher.
3. Single lock based queue.

It seems I need to benchmark 😜

[2018-11-02 13:21] micdenny commented on #871
I don't remember about the queue of one element, I was expecting to have an
unbounded blocking collection, where 1 thread is taking element from, and
the publish just add a value on that collection, but for sure I'm wrong :)

On Fri, Nov 2, 2018 at 10:28 AM Yury Pliner <notifications@github.com>
wrote:

[2018-11-03 12:44] Pliner commented on #871
@micdenny Could you review #872?

[2018-11-04 09:39] Pliner commented on #758
@n3gwave I tested the case you described and it seems EasyNetQ works fine.

The source code:
[code]

It produces the following log:
[code]
So the Model is created again after the passive declaration fails.

[2018-11-05 13:54] micdenny commented on #677
@xpicio you needed this change to be able to use the old conventions?

[2018-11-05 14:02] micdenny commented on #677
if yes, I would like to introduce something integrated in ENQ to be able to restore the "legacy" naming convention, this is something that we should have done before, like we did for the type naming convention where we added the facility on bus factory `x => x.EnableLegacyTypeNaming()` and I think should be done also for RPC naming conventions, as I will needed as well to upgrade to the latest ENQ

[2018-11-11 13:54] Pliner commented on #871
@n3gwave I hope you can try [3.3.3](https://www.nuget.org/packages/EasyNetQ/3.3.3).

[2018-11-11 13:54] #871 closed

[2018-11-19 09:13] zidad commented on #865
I do think that would be a nice change. To prevent breaking changes we could maybe split it up into something like EasyNetQ.Core, EasyNetQ.Serialization.Json and EasyNetQ package, in which EasyNetQ would reference both packages. Personally, I think the autosubscriber could be separated too.

[2018-11-19 10:45] xpicio commented on #677
hello, yes should be useful 👍

[2018-11-19 10:45] sungam3r commented on #865
I think that in any case it will require an increase of major version.

[2018-11-19 11:31] micdenny commented on #677
@xpicio can you try to do this overwriting your pr #738? so that by default we use the latest conventions, but we can configure the bus to use the legacy one, exactly as we did for the type naming, so for this case an extension method called `x => x.EnableLegacyRpcNaming()`

[2018-11-21 12:12] forlayo opened #878 "No support for topic-permissions on management api."

[2018-11-21 17:46] Pliner commented on #740
@mycroes I hope you have found the answer. Anyway, feel free to reopen the issue.

[2018-11-21 17:46] #740 closed

[2018-11-26 09:22] cc5zhenhua opened #879 "Consumer seems not know connection lost , no exceptions or reconnect automatically."
First start RabbitMQ server and start the consumer application,
**result:** application received message and consume successfully.
Then stop RabbitMQ server and restart again,
 **result:** no exception and can't get any messages any more.
Please advice freely. Thank you.

**Test Code:**
static Main()
{
string queueName = "testQueue";
using (var bus =RabbitHutch.CreateBus("host=localhost:5672;usern

[2018-11-26 09:22] cc5zhenhua commented on #879
`string queueName = "testQueue";
            using (var bus = RabbitHutch.CreateBus("host=localhost:5672;username=test;password=testpass").Advanced)
            {
                var queue = bus.QueueDeclare(queueName);
                bus.Consume(queue, x => x.Add<TextMessage>((message, infor) =>
                {
                    Console.WriteLine(message.Body.Text);
                });

[2018-11-28 12:32] sungam3r opened #880 "Repeating BrokerUnreachableException in PersistentConnection.TryToConnect"
For some reasons VHOST became unreachable (eg, wrong configuration settings).
After application start I see many errors in log:
[code]
which occur due to loop inside PersistentConnection.TryToConnect. I see 2 errors in log every 1 second,
so it grows very fast.

Now I can override default binding from `IConnectionFactory` to `ConnectionFactoryWrapper`, change it to `MyConnectionFactoryWrapper : Co

[2018-11-28 12:41] sungam3r commented on #880
My error, did not see ConnectInterval. The question is removed.

[2018-11-28 13:15] sungam3r commented on #880
But... New question. How to stop the process now? My application (.NET Core Generic Host) creates exchange on start (I use AddHostedService and RabbitMQ handler inside) and this exchange cannot be created because (my assumption) it is waiting to create a connection!

Stack trace:
[code]

So my application now is in eternal loop.

[2018-12-03 21:34] twobytwo91 opened #881 "DeadLetterExchangeAndMessageTtlScheduler"
commit  d6687672, added "deadLetterRoutingKey: topic" to QueueDeclare.
When using pre-existing futureQueueNames, throws exception that x-dead-letter-routing-key
cannot be added to an existing queue.

I've thought about using string.empty to side step this, but what are other doing that have ran into this issue?

[2018-12-06 14:02] Nimothy opened #882 "Could not load assembly 'query_gpfzfg'"
# Issue: Could not load assembly 'query_gpfzfg' #
EasyNetQ.DI.Autofac: 3.3.5
EasyNetQ Version: 3.3.5

## Exception ##
[code]

## Attempted Fix ##

If I enable LegacyTypeName

[code]

## Second Exception ##
[code]

## Background

### Subscriber

[code]

### Publisher

[code]

Any thoughts as to what is going on?

[2018-12-07 13:10] Nimothy commented on #882
Just to follow up, the reason why this was breaking is was due to the Type not being set correctly on the message.

I still think there is a bug here because even when I set the type in the message properties it didn't apply.

[2018-12-08 17:53] andrebugs2 opened #883 "RegisterEasyNetQ fails becuase JsonSerializer has two constructors"
See the following repo for a demo that reproduces this problem: https://github.com/andrebugs2/easynetqbug

I'm using EasyNetQ and EasyNetQ.DI.SimpleInjector version 3.3.5. When you try to register it with the Simple Injector container using the following code it fails because JsonSerializer in EasyNetQ contains two constructors.

[code]

The error you get from Simple Injector is:

Parameter name:

[2018-12-19 19:11] kgrosvenor commented on #845
Did this ever get done. It is quite important when using RabbitMQ to be able conditionally ackknowledge messages or reject them or requeue etc, seems like the main chunk of functionality is missing?

[2018-12-20 01:39] #879 closed

[2018-12-20 20:11] DevOnBike opened #884 "EasyNetQ authentication with microservices"
I've got some architecture riddle for u: we all know that microservices are on the market for some time and if we talking about microservices architecture we commonly think about asynchronous communication between multiple components in system. Suppose that this communication is done using event bus by EasyNetQ. Let's think of that case: we have microservice .1 (webapi) which publishes event to ex

[2018-12-22 11:42] sungam3r commented on #880
Any suggestions?

[2018-12-26 17:09] GDeroy commented on #878
https://github.com/EasyNetQ/EasyNetQ.Management.Client/pull/102

[2018-12-28 17:22] #882 closed

[2018-12-30 17:20] yuren1978 commented on #280
How long will the messages stay in Exchange before disappear?

[2018-12-30 21:39] micdenny commented on #280
It doesn’t stay on the exchange, the exchange is just a kind of router, it routes the messages to queues, if there aren’t queues bind to the exchange the message is droppped by default, as far as I remember you can change this behavior to push message to a dead letter queue, or at least throw an error to the publisher if you send the message using confirmes technique

[2019-01-04 07:53] fatagun opened #887 "Registering IBus with .net core container."
Hello,

Is it OK to register IBus via .net core native container, something like:

[code]

Is singleton OK ? or should I use scoped lifetime?

Thanks.

[2019-01-04 08:20] micdenny commented on #887
it's correct to register the ibus on containers
it's correct to register it as singleton

[2019-01-05 13:57] Pliner commented on #883
@andrebugs2 Could you try 3.3.7? I hope the issue was fixed.

[2019-01-06 10:55] fatagun opened #889 "publisher with multiple subscribers or notification"
I have the following publisher using easynetq and rabbit.

[code]

Then have the following subscriber:

[code]

This works as expected, however I am interested in when an event occurs, I want to notify all subscribers. Above code does round robin subscription. So events/messages are dequeued randomly.

I am aware of Fanout exchange that publish to all the queues in the host, however   I am interes

[2019-01-07 09:01] burcuay346 opened #890 "EasyNetQ exchange usage"
Hi All,
I am new to easynetq, I have a question.
I have use this annotiation example for my entity. But my exchange type is direct and I create from RabbitMQ monitoring screen.
 [Queue("queueA", ExchangeName = "exchangeA")]

Then, when I want to run my Publisher, I got this exception.
"System.AggregateException:One or More errors occurred. <The AMQP operation was interrupted: AMQP close-reason, in

[2019-01-07 16:11] burcuay346 opened #891 "EasyNetQ bulk consume"
Hi All,
I am new to easynetq, I have a question.

Does EasyNetQ  provide any easy way to consume bulk? Maybe, I can get 10000 messages and insert all to sqlserver in one step.

[2019-01-07 16:43] poteb commented on #891
Nope, neither does RabbitMQ. You consume (and process) one message at a time.

[2019-01-08 06:34] #891 closed

[2019-01-08 16:02] nvrnight opened #892 "HosePipe replaying to exchange instead of queue that failed to consume message"
I have an event message that gets published to an exchange. Two queues are running off this exchange and each queue has one consumer. One consumer succeeded in processing the event message, another consumer failed and send the message to its error queue. I extracted the message using "err" on HosePipe and did a retry on it, instead of the message going back to its original queue that it was being

[2019-01-08 16:09] poteb commented on #892
How did you "retry" it?

[2019-01-08 16:47] StevenBonePgh commented on #892
I took the concept of hosepipe and ported it to my own needs to implement retry later logic by re-sending the messages back to the exchange.  I, of course, had a similar issue to you.  A few things to consider:

- Rabbit guarantees delivery, but there is no guarantee of a message being delivered only once, so you **do need to handle duplicate messages for normal use cases**.
- By default when you

[2019-01-08 17:00] nvrnight commented on #892
Yeah we always develop assuming an message might be processed more than once, I just didn't want to artificially trigger thousands of messages to be processed for no reason. Yeah, I really meant send rather than publish, I said publish because whether it's a send or publish you're calling a method with "Publish" in the name from the RabbitMQ C# API.

I already solved my issue by creating a small c

[2019-01-08 17:03] poteb commented on #892
For this scenario I create a temporary exchange bound to the target queue, publish the message and delete the temp exchange.

[2019-01-10 22:49] sungam3r commented on #865
Yes, this is obvious. EasyNetQ will become a meta package with 2 dependencies such as Microsoft.AspNetCore.All meta package.

But moving all code except serialization (99,9%) to EasyNetQ.Core from EasyNetQ (actually renaming EasyNetQ .csproj and .dll to EasyNetQ.Core .csproj and .dll) can lead to disastrous consequences for customers if they load the assembly by name. Don't take that into account?

[2019-01-10 23:47] PureKrome commented on #865
IMO ..

This is what SEMVER should be used for. Major package version update -> there could be breaking changes so ReadTheFAQ.

Also, namespace change should occur, IMO also -> which is again another breaking change.

Else, don't update.

Q: Is the breaking change a potentially serious benefit for the community or just some small corner piece which breaks things? If yes to a serious awesome change

[2019-01-11 07:38] sungam3r commented on #865
I agree about breaking changes and SEMVER. I think it will be better to hold this change to the next major version. Any plans for it?

Disagree. Namespace doesn't have to match assembly name. Sometimes (and in our case too) it's convenient to have multiple assemblies with classes in the same namespace tree.

I have also been interested in the question of monolithic organization of EasyNetQ assembl

[2019-01-14 07:07] burcuay346 opened #895 "EasyNetQ WindowsService"
Hi,
 I want to write a consumer as a Windows Service. But it does not work  continuously.
I dont understand why this code runs only one time.

  public Task StartAsync(CancellationToken cancellationToken)
        {
            using (_bus)
            {
                  this.WriteToFile("Bus Connection" + _bus.IsConnected);
                  _bus.SubscribeAsync<AuditEntity>(string.Empty, auditEnt

[2019-01-14 08:57] #895 closed

[2019-01-17 17:45] micdenny commented on #677
ok I've done a new PR #896 to accomplished what I've talked about in previous posts

[2019-01-17 19:50] mhsimkin opened #897 "Application hangs on exit"
I'm working on building a custom provider for the Microsoft.Extensions.Logging.  Inside my provider I'm loading EasyNetQ.  My provider also implements IDisposable.

I'm building this provider as a .NET Standard 2.0 library.  right now it is being called from a .NET 4.7.1 client.

The application is hanging on exit.  It looks like the GC Finalizer Thread is being blocked by either the Client Comman

[2019-01-18 12:48] zidad commented on #897
Can you try not to instantiate IBus inside your logging provider, but instead accepting it as dependency instead?

I can't say anything more useful without more code or some info on what you're trying to do. Are you trying to log as messages to RabbitMQ?

I'm not sure if this is a RabbitMQ issue?

[2019-01-18 13:19] #677 closed

[2019-01-18 13:20] micdenny commented on #677
this has been released [v3.3.8](https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.3.8)

[2019-01-18 14:26] burcuay346 opened #898 "client unexpectedly closed TCP connection [warning]"
Hi All,

I use EasyNetQ for my publisher. But, I see a lot of warning 'client unexpectedly closed TCP connection' in RabbitMQ logs. Also, I dont have any loadbalancer.

I use defult Heartbeat and my connection string is
RabbitHutch.CreateBus("host=XXXX;virtualHost=/;username=guest;password=guest;publisherConfirms=true;timeout=10");

I could not find any solution for this warning.

Any idea?

[2019-01-19 13:30] sungam3r commented on #865
So, what about "EasyNetQ.All" project and meta-package in this repo without its own code? Now it will contain only EasyNetQ.dll and EasyNetQ.Serialization.Json.dll (through package dependencies of course) and in the future it will be possible to add other packages as dependencies - those that may appear as a result of EasyNetQ decoupling.

[2019-01-21 20:16] mhsimkin commented on #897
@zidad, no worries.  I've been doing more debugging.  It is not an ENQ issue.

I create the IBus in class A.  Then I pass it to class B as part of its instantiation. I created a circular references.  This is probably what is causing the app to hang on shutdown.

[2019-01-23 18:15] Pliner commented on #828
Also it possible to disable logging by `LogProvider.IsDisabled = true`

[2019-01-23 19:02] mhsimkin commented on #897
[EasyNetQIssue.zip](https://github.com/EasyNetQ/EasyNetQ/files/2788754/EasyNetQIssue.zip)
I'm still having an issue with this.  I have attached a very simple app showing the issue.

The RabbitBus object is not in a using statement, as I need to pass it off to other classes.  When the application exists, the GC is blocked by having a Rabbit and ENQ thread open.

I'm relying on the GC calling my cla

[2019-01-23 19:06] Pliner commented on #897
@mhsimkin Will try to investigate tomorrow. Thank you!

[2019-01-23 19:13] mhsimkin commented on #897
@Pliner Thanks.

[2019-01-23 19:21] mhsimkin commented on #897
Here is a file with all the messages in the VS Output window when I run the sample app.

[enq-issue-debug-output.txt](https://github.com/EasyNetQ/EasyNetQ/files/2788828/enq-issue-debug-output.txt)

[2019-01-24 14:54] mhsimkin commented on #897
@Pliner Thank you.  When would you use a background vs. a foreground thread?

[2019-01-24 15:17] micdenny commented on #897
https://docs.microsoft.com/en-us/dotnet/standard/threading/foreground-and-background-threads

[2019-01-24 15:21] micdenny commented on #897
Please call dispose on easynetq bus or set to work on background threads.

The best practice is to call dispose, as all the classes in the .net ecosystem that implements IDisposable.

https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose

[2019-01-24 15:22] mhsimkin commented on #897
@micdenny Thank you.  I'm wondering if there are specific instances when using ENQ/Rabbit where foreground is better than background, since the default for UseBackgroundThread is false.

[2019-01-24 15:22] #897 closed

[2019-01-24 15:28] micdenny commented on #897
IMHO never, I would always prefer the dispose, because in that way you give to ENQ the chance to do a graceful teardown of the resources, in other hand if someone is having hard times calling dispose, or simply is doing a POC, we add the ability to enabled background threads so your process can be killed right away.

[2019-02-06 06:34] Bykiev commented on #854
Having the same issue with fanout exchange, any news when it'll be supported?

[2019-02-11 03:25] xiedeyou commented on #854
fanout exchange are not supported.

[2019-02-11 03:25] #854 closed

[2019-02-20 10:38] gmwilhelm opened #904 "NullReferenceException in ExclusiveConsumer.Dispose"
Hello,

following scenario:

- one exclusive queue
- two cosumers trying to connect to that queue

when the second consumer tries to connect to the exclusive queue i get an ConsumerError as expected.

When i now try  advancedBus.Dispose i get this exception and the connection to my RabbitMQ server is not closed:
[code]

After looking at the sourcecode i see that consumerCancellation is null

[2019-02-20 11:11] Pliner commented on #904
Hi @gmwilhelm,

Thanks for the bug report. Will try to investigate it ASAP.

BTW Do you have some repro example?

[2019-02-20 11:44] gmwilhelm commented on #904
Hi @Pliner,

sorry, i don't have a repo example.

Correct me if i'm wrong, but as i understand the code ExclusiveConsumer.StartConsuming will not be called, when the queue is already in exclusive use, so the consumerCancellation will not be created.

So an easy fix would simply be to check if consumerCancellation is not null in Dispose:

`consumerCancellation?.OnCancel(queue);`

[2019-02-20 22:33] nvrnight opened #905 "EasyNetQ Scheduler - Postponing a message..."
I'd like to request some new functionality for the Scheduler to allow post-pone already scheduled future messages. I can do cancel future then future publish, but this has a race condition where sometimes the future publish will get processed before the cancel which means the message would never get published. I tried publishing in the future with the same key without a cancel and hoped that maybe

[2019-02-21 15:53] ztlsir opened #906 "Channel is singleton at publish？"
PersistentChannel.cs
private IModel OpenChannel()

        {
            IModel channel;
            lock (this)
            {
                if (internalChannel != null)
                {
                    return internalChannel;
                }

                channel = connection.CreateModel();

                WireUpChannelEvents(channel);

                eventBus.Publish(new PublishCha

[2019-02-21 17:28] francisminu opened #907 "WithQueueName with the Bus"
Hi,

We currently use the IBus implementation for publishing messages to queues.
We use the below, to create the bus instance:
_bus = RabbitHutch.CreateBus(connectionString);

We were facing issues where there were redundant messages being stored in the queue due to an application issue (they were causing the rabbitmq server to be out of space and finally, everything falls apart). We added in a fi

[2019-02-23 10:19] Pliner commented on #904
@gmwilhelm Could you tell me the version of EasyNetQ you are using?

[2019-02-23 11:09] Pliner commented on #906
Hi @ztlsir,

`PersistentChannel` is used in thread local manner in `ClientCommandDispatcherSingleton`. Publishes from multiple thread are dispatched in single thread and only one channel is used.

PS Please, reopen this issue if you have more questions.

[2019-02-23 11:09] #906 closed

[2019-02-25 06:35] gmwilhelm commented on #904
@Pliner i first noticed this using 3.3.7 in my production code, but i also tested it with a download of the 3.4.0 branch/tag.

[2019-02-25 09:11] Pliner commented on #904
Thanks.

I confirm we have a bug and it was caused bе #875, but I'm not sure `consumerCancellation?.OnCancel(queue);` is nice fix.

[2019-02-25 14:10] Gantner opened #908 "RPC with queue that is auto delete"
Hi,

is it possible to make RPC through queues with auto delete enabled?

With `SubscribeAsync<T>(string subscriptionId, Func<T, Task> onMessage, Action<ISubscriptionConfiguration> configure)` it is possible to provide in the configuration `WithAutoDelete(true)` to make the queue auto delete. Unfortunately `RespondAsync<TRequest, TResponse>(Func<TRequest, Task<TResponse>> responder, Action<IRespon

[2019-02-25 17:56] francisminu commented on #907
@Pliner Please review this question and let me know your thoughts.

[2019-03-07 02:04] ejsmith opened #909 "Strong naming revisited"
I know the question about strong naming has been asked before, but things have changed a lot since then. Microsoft recommends all nuget assemblies be strong named now:

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming

Any chance you will change your mind on strong naming now or possibly just strong naming the netstandard2.0 target?

[2019-03-07 06:38] micdenny commented on #909
I think about netstandard we should do it, especially because “strict assembly loading only affects the .NET Framework” and not net core.

Thank you for pointing this out again, we should consider it.

[2019-03-07 16:05] sperciavalle opened #910 "Error at EasyNetQ.JsonSerializer..ctor()"
Hi guys, I'm getting a weird Exception when the service is in production server but not in Development.

Any Ideas?
[code]

[2019-03-07 16:06] sperciavalle commented on #910
BTW, the error is in:

 var connectionConfiguration = BuildConnection(_settings);

private ConnectionConfiguration BuildConnection(IRabbitMqSettings settings)
        {
            var result = new ConnectionConfiguration
            {
                VirtualHost = settings.RabbitMqVirtualHost,
                Port = settings.RabbitMqHostPort,
                UserName = settings.RabbitMqQueueUserN

[2019-03-08 08:16] micdenny commented on #910
I saw that the package is coming from RabbitMQ.Client dependencies, which
.net framework are you using? net or netcore? which version? can you pass a
project that reproduce the error?

On Thu, Mar 7, 2019 at 5:07 PM sperciavalle <notifications@github.com>
wrote:

--
Michael Denny
Engage IT Services s.r.l. <http://www.engageitservices.it/>
CTO, Co-Founder

[2019-03-12 13:54] Pliner commented on #910
@sperciavalle Could you give us any repro of your error?

[2019-03-12 14:44] sperciavalle commented on #910
Sorry guys for the late reply. It was my issue. For some reason, there was 2 different NewtonsonJson references.

[2019-03-12 14:44] #910 closed

[2019-03-12 15:32] Pliner commented on #910
No worries. Thanks for the prompt response 😉

[2019-03-12 19:03] Pliner commented on #904
@rtaylor01 Could you help us and tell how you use that cancellation? It would be better if you could show the code.

[2019-03-12 20:59] rtaylor01 commented on #904
I have not started using the updated version of EasyNetQ yet so I don’t have a code example to give to you.

From: Yury Pliner <notifications@github.com>
Sent: Tuesday, March 12, 2019 3:04 PM
To: EasyNetQ/EasyNetQ <EasyNetQ@noreply.github.com>
Cc: Robert Taylor <rtaylor@ddti.net>; Mention <mention@noreply.github.com>
Subject: Re: [EasyNetQ/EasyNetQ] NullReferenceException in ExclusiveConsumer.Disp

[2019-03-12 21:04] Pliner commented on #904
Ok, thanks.

It seems there are not so many reasons to not to rollback the change for now.

[2019-03-13 12:15] rtaylor01 commented on #904
Why not go ahead and apply your change to fix the bug. It seems simple enough and looks like it would take care of the problem. It may be useful to others to have this event and once my priorities shift back to updating EasyNetQ, I’ll be needing it.

Bob

From: Yury Pliner <notifications@github.com>
Sent: Tuesday, March 12, 2019 5:05 PM
To: EasyNetQ/EasyNetQ <EasyNetQ@noreply.github.com>
Cc: Rober

[2019-03-13 14:02] Pliner commented on #904
I think we should discuss again the purpose of cancellation event and how we are going to use it. The separate issue to debate is welcome.

PS IMHO (Exclusive|Transient|Persistent)Consumers are too fragile to use it out of EasyNetQ control.

[2019-03-13 17:16] Pliner commented on #904
Fixed by #912

[2019-03-13 17:16] #904 closed

[2019-03-14 16:50] #834 closed

[2019-03-14 17:33] Pliner commented on #909
@ejsmith To be honest I've never used strong naming before. Could you help us with testing if we will  implement it?

[2019-03-14 17:53] ejsmith commented on #909
Yeah, I will test it out.

[2019-03-14 18:03] Pliner commented on #909
Cool 👍

Will try to figure out how to integrate it to our pipeline gracefully.

[2019-03-15 08:47] #835 closed

[2019-03-18 17:31] micdenny opened #920 "Use rabbitmq client automatic topology recovery"
As requested here https://github.com/EasyNetQ/EasyNetQ/pull/794#issuecomment-406531928 can we enable the rabbitmq client automatic topology recovery?

As a short discussion with @Pliner seems to be hard on EasyNetQ to just enable it and pray 🙏 so we should deep investigate the effort needed.

To enable on rabbitmq client we just need to put the property `TopologyRecoveryEnabled` to true, that can

[2019-03-24 17:10] Pliner commented on #881
It seems backward compatibility was broken. It seems we should do these kind of changes with toggle.

As for now the easiest way is to update all queues. Sorry 😢

[2019-03-24 17:10] #881 closed

[2019-03-26 15:07] LBognanni opened #926 "Registering a custom IConsumerErrorStrategy"
Hi all,

Recently I had an issue when I was trying to register  a custom `IConsumerErrorStrategy` for EasyNetQ.
I believe this is a bug in the default DI container.
Basically, my implementation would never get picked up because I was registering it with a `Func<IConsumerErrorStrategy>`:

    container.Register<IConsumerErrorStrategy>( _ => GetErrorStrategy(some params));

but in `DefaultServicesRe

[2019-03-26 15:54] Pliner opened #927 "Add a switch which allows to use LazyQueues as a default queues"
https://www.rabbitmq.com/lazy-queues.html

https://www.cloudamqp.com/blog/2017-07-05-solving-the-thundering-herd-problem-with-lazy-queues.html

[2019-03-26 15:55] Pliner commented on #927
@zidad @micdenny What do you think about lazy queues?

[2019-03-27 06:45] Pliner commented on #926
Hi @LBognanni,

Unfortunately, I was unable to repro the issue. Here is a test(https://github.com/EasyNetQ/EasyNetQ/commit/cb894b0941afc114ea4e7519e3c0ad346255f16a#diff-af39281668fb9eebb9856bef5c4ab63eR105) and it is passed.

[2019-03-27 09:17] LBognanni commented on #926
Hi @Pliner, that's interesting thanks for trying it out. Maybe it was solved recently? I'm using EasyNetQ v3.4.5.
I'll try to repro in a small repository and get back to you :)

[2019-03-27 12:22] micdenny commented on #927
I think it’s something for particular use cases, I would not enable by
default, but I would give the chance to configure it

Il giorno mar 26 mar 2019 alle 16:55 Yury Pliner <notifications@github.com>
ha scritto:

--
Michael Denny
Engage IT Services s.r.l. <http://www.engageitservices.it/>
CTO, Co-Founder

[2019-03-27 14:42] micdenny commented on #927
Lazy queues are appropriate when keeping node memory usage low is a priority and higher disk I/O and disk utilisation are acceptable. Lazy queues have other aspects that should be considered.

[2019-03-27 15:58] zidad commented on #927
Definitely not by default, because that would break current applications and ENQ for older versions of RMQ right? opt-in would be great!

[2019-03-28 12:41] howardhee opened #928 "the type of initializer for 'EasyNetQ.AdvancedBusEventHandlers' threw an exception"
Hi,

When I published to windows server and run the console application, it's show the error "the type of initializer for 'EasyNetQ.AdvancedBusEventHandlers' threw an exception". But it's working fine in my localhost.

The error appear in my C# code below:

IBus bus = RabbitHutch.CreateBus("host=localhost;virtualHost=/;username=guest;password=guest");

[2019-03-30 02:32] howardhee opened #929 "IBus Receive with async"
I try add ContinueWith into my Receive, but after called a await function, it's straight jump to ContinueWith, the code after await function won't get trigger. How should I resolve it?

[code]

[2019-03-30 02:37] #928 closed

[2019-03-30 02:38] howardhee commented on #928
Some dll files not updated in server, working fine after published all dll.

[2019-03-30 10:14] micdenny commented on #929
If you really need to start a new task, then you have to unwrap the inner task to continue on what you expect to continue, so just add Unwrap() before ContinueWith, that would also return to EasyNetQ the correct task to continue on and then ACK the message, because now is happening just after hitting the first await.

I would suggest to avoid fire another thread and just async await directly in th

[2019-04-09 06:53] vborza opened #932 "Topic based routing in RPC"
Hi, we are using EasyNetQ in https://www.signals.network/ and so far it's working great for us.
However, we did hit a blocker with a request-reply pattern. The problem is, that we need to have multiple responders to the same type of request message, based on the topic (similar to subscription pattern) - i.e. we need one responder per exchange, responding only to messages related to that exchange.

[2019-05-01 13:12] rog1039 opened #934 "Sprache Conflict?"
Hello,

I just installed EasyNetQ via nuget and am running into a conflict. I am already using the Sprache library in my project and now the compiler is complaining because there are now two instances of the type Sprache.Parser (one from Sprache's nuget package, the other from EasyNetQ's nuget package).

This is the error I am getting:
[code]

Is there something I can do here to make this work?

T

[2019-05-02 09:00] Pliner commented on #934
Hi @rog1039,

It's very strange actually. Do you have a simple repro which will help to see the problem?

Anyway, we can internalise Sprache code which we copied. What do you think @zidad @micdenny?

[2019-05-02 12:10] Pliner commented on #934
It seems we choose not the best namespace for copied Sprache code and it can cause the problem: instead of `Sprache` it should be `EasyNetQ.Sprache`.

[2019-05-02 12:10] rog1039 commented on #934
Hi @Pliner ,

I've created a repro of the issue here:
https://github.com/rog1039/EasyNetQSpracheConflict

I'm not sure if this is the best way to get around it but I was able to get it working in my project by cloning the EasyNetQ repo and then changing the namespace of all the classes in the EasyNetQ\Sprache folder from ```Sprache``` to ```EasyNetQ.Sprache```.

Now in my project there is Sprache'

[2019-05-02 12:16] Pliner commented on #934
To be honest I have already fixed it and will create PR soon. Thanks for reporting :wink:

[2019-05-02 12:19] rog1039 commented on #934
Thank you! I appreciate you looking into it!

[2019-05-02 13:13] Pliner commented on #934
Fixed by #935 in [3.5.0](https://www.nuget.org/packages/EasyNetQ/3.5.0).

[2019-05-02 13:13] #934 closed

[2019-05-07 13:15] vborza commented on #932
Hi, @Pliner any update on this please?

[2019-05-07 17:15] Pliner commented on #932
Hi @vborza,

Actually, I'm not sure that I get that you mean. It seems you need the following:
1. Publish to single exchange, but with topic.
2. Consume from multiple queues.
3. Route requests between queues by routing key.

Am I understand you correctly?

[2019-05-07 17:23] Pliner commented on #929
@howardhee I hope you have resolved your issue. If you have any questions, please, feel free to reopen.

[2019-05-07 17:23] #929 closed

[2019-05-07 17:26] Pliner commented on #926
@LBognanni I hope everything is fine. If you will be able to repro the issue, please, reopen.

[2019-05-07 17:26] #926 closed

[2019-05-10 14:40] Pliner commented on #758
It seems https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/369 is very similar to this issues.

[2019-05-11 18:01] Pliner commented on #758
It seems I have a chance to repro an issue using https://github.com/Shopify/toxiproxy.

[code]

[2019-05-11 21:26] Pliner commented on #758
So, the observation is the following:
1. RPC command is started(for example, ExchangeDeclare).
2. The request is sent and the command is waiting for reply.
3. The reply is not received during continuation timeout.
4. Unit the command will receive the reply it's not possible to do anything else and `System.NotSupportedException: Pipelining of requests forbidden` will be thrown.

[2019-05-12 07:52] Pliner commented on #758
@michaelklishin Could you approve whether I understand the behaviour correctly?

If yes, I'm confused a bit about using `ContinuationTimeout`, because in case of timeout the model remains unusable until the reply is received or the connection(and the model) is shut down. My first though was not to use the `ContinuationTimeout` at all.

[2019-05-13 15:46] AnthonyMastrean commented on #865
Maybe some useful info in this announcement and linked issues? https://github.com/dotnet/announcements/issues/90

[2019-05-13 21:35] sungam3r commented on #865
This PR was just partly inspired by an article like this. In the end, MS came to take the JSON deserializer out of ASP.NET Core. This is a breaking change. Here the situation is completely similar. Another thing is that I tried to smooth this breaking change a little with the help of reflection.

[2019-05-14 03:26] Pliner commented on #865
Could we follow the same strategy?

1. EasyNetQ package without JSON serialiser.
2. EasyNetQ.Serialization.Netwonsoft package with JSON serialiser.
Also no additional packages and no reflection based serializers are need.

@sungam3r @AnthonyMastrean @zidad @micdenny Are everybody fine with it?

[2019-05-14 05:52] sungam3r commented on #865
I want exactly to do this without reflection hack, but it is really a **breaking change** for clients. We **should** increment major version.

[2019-05-14 05:54] sungam3r commented on #865
For me 3.6 is fine, but for others it can be bad surprise.

[2019-05-14 06:04] micdenny commented on #865
It’s ok, but it’s important to have a meta package that includes everything, easynetq was born with easy in mind, if we don’t like to have EasyNetQ.Core with all the actual implementation (no namespace rename), a separate package for newtonsoft serializer, and EasyNetQ changed to be a meta package with core+newtonsoft dependencies in it, then that’s ok to do as you suggested, but we should conside

[2019-05-14 06:05] micdenny commented on #865
I would push it in 4.0 because it’s already there and near to be finished

[2019-05-14 06:42] sungam3r commented on #865
I have not looked at repo for a long time. I will update PR.

[2019-05-14 10:28] ehouarn-perret opened #937 "How to programmatically resend messages that have faulted with EasyNetQ?"
I am wondering how to resend messages that have faulted with EasyNetQ, programmatically, without using [HosePipe]( https://github.com/EasyNetQ/EasyNetQ/wiki/Re-Submitting-Error-Messages-With-EasyNetQ.Hosepipe), that is to resend to their original target queue using their original sending exchange.

Is it possible, how?

[2019-05-14 10:29] ehouarn-perret opened #938 "How to fetch an existing Exchange or Queue in EasyNetQ?"
I am using EasyNetQ and I am wondering how to fetch an existing `IExchange` and `IQueue` without subscribing beforehand?

In the `IAdvanceBus` I can only see:

- `ExchangeDeclareAsync`
- `QueueDeclareAsync`

But I am not sure really whether those will override an existing queue or exchange with the same name?

Also how can I be sure that that queue or exchange exist before trying to fetch / declar

[2019-05-14 10:37] sungam3r commented on #937
Resend in what context? For example, you can re-try to send the same message, if you use x-dead-letter-exchange with x-message-ttl.

[2019-05-14 10:38] ehouarn-perret opened #939 "Scalability with EasyNetQ?"
I checked [that issue answer](https://github.com/EasyNetQ/EasyNetQ/issues/530#issuecomment-168148639):

It's not clear to me whether EasyNetQ is actually creating a new thread per subscribe and create a new one per publish, or are they threadpool threads?

How this can be customized or controlled?

We are thinking using an actor framework to process the messages more horizontally.

[2019-05-14 10:44] sungam3r commented on #938
No, RabbitMQ does not allow to overwrite queues/exchanges, only to declare them. This is idempotent operation. If some properties do not match, an error will be generated (ERROR_PRECONDITION_FAILED).

You can use [Management.Client](https://github.com/EasyNetQ/EasyNetQ.Management.Client) to list any RabbitMQ objects.

[2019-05-14 10:51] sungam3r commented on #939
See [this](https://github.com/EasyNetQ/EasyNetQ/blob/db4f18b69c87f3b4a0f343564be945febbba876b/Source/EasyNetQ/Consumer/ConsumerDispatcher.cs#L20)

You can use your own `IConsumerDispatcher` / `IConsumerDispatcherFactory` and configure it via DI:
[code]

Factory:
[code]

[2019-05-14 12:14] ehouarn-perret commented on #937
For example let's say I have:

[code]

Which gives the 2 exchanges below:
- `ConsoleApp1.Program+Message, ConsoleApp1`
- `ErrorExchange_`

and the 2 queues below:
- `ConsoleApp1.Program+Message, ConsoleApp1_subscriptionId`
- `EasyNetQ_Default_Error_Queue`

Obviously the line below:

[code]

Push messages to the `EasyNetQ_Default_Error_Queue` through the `ErrorExchange_`.

Later on I would like to

[2019-05-14 12:33] ehouarn-perret commented on #939
@sungam3r thanks, will check this out!

[2019-05-14 12:37] zidad commented on #865
I have a slight preference to keeping the EasyNetQ package that would function like a EasyNetQ.All package, and a separate EasyNetQ.Core package. So the upgrade path for users is simply "update-package easynetq".

[2019-05-14 12:43] ehouarn-perret commented on #938
@sungam3r, do you know whether the `ManagementClient` is significantly slower than the rest of the library (bus / advanced bus)?

[2019-05-14 13:31] Pliner commented on #939
Hi @ehouarn-perret,

Now there is one publish channel per bus(and we invoke commands to it in single thread). I hope we will introduce pools of publish channels after [4.0](https://github.com/EasyNetQ/EasyNetQ/milestone/7).

Merely the same situation with consumer side(multiple channels and single thread) and as I understand there is no limitation to have multithreaded consumer dispatcher, but ins

[2019-05-14 14:09] micdenny commented on #865
Is what I was thinking me too, the package EasyNetQ.Core will not force us to change the namespace, actually I never thought to change namespace, only to package with a different name.

[2019-05-14 19:48] Pliner commented on #865
@micdenny @zidad Got it.

So, just to summarise:
1. EasyNetQ.Core package without JSON serialiser.
2. EasyNetQ.Serialization.Netwonsoft package with JSON serialiser.
3. EasyNetQ meta package with dependencies on 1 and 2.

Right?

[2019-05-14 20:56] sungam3r commented on #865
I updated PR #894.

Just repeat for clarity - to do this we **need** to use reflection hack in `DefaultSerializer` to **not force** users to call additional line of code like this:
[code]
It is a necessary measure if we want everything to work as before (EasyNetQ package that would function like a EasyNetQ.All).

[2019-05-14 21:15] sungam3r commented on #937
OK. You can use your own `IConsumerErrorStrategy`. By default EasyNetQ uses `DefaultConsumerErrorStrategy` which send messages into "EasyNetQ_Default_Error_Queue" (ErrorQueueNamingConvention).

You can do anything you want in `AckStrategy HandleConsumerError(ConsumerExecutionContext context, Exception exception)`.

[2019-05-14 21:29] sungam3r commented on #938
I did not take measurements. This is just a wrapper around [RabbitMQ HTTP API](https://pulse.mozilla.org/api/). The disadvantage of this method is that an user account with elevated rights is required (It may differ from your "runtime" user account from connection string).

Actually, I have not looked at the repo for a long time. Now I see that there are methods `IAdvancedBus.QueueDeclarePassiveAs

[2019-05-14 21:41] ehouarn-perret commented on #938
@sungam3r thank you, gonna check this out too!

[2019-05-14 21:41] ehouarn-perret commented on #937
@sungam3r thanks, you're awesome!

[2019-05-15 03:43] Pliner commented on #865
Yep, what do you thing @micdenny @zidad?

[2019-05-15 06:09] micdenny commented on #865
That’s ok, it’s similar to what liblog does

[2019-05-15 06:13] Pliner commented on #865
👍🤝 😉

[2019-05-15 06:47] sungam3r commented on #865
Exactly. It's great that we understand each other. Do I need to create a meta package in the same PR?

[2019-05-15 06:58] micdenny commented on #865
I think it should a PR with all in it

[2019-05-15 10:01] zidad commented on #938
ManagementClient is the way to go, thanks @sungam3r! I'm going to close this issue.

[2019-05-15 10:01] #938 closed

[2019-05-15 15:08] AnthonyMastrean opened #940 "Implement an Auto Responder?"
Let me start by saying that I _love_ the [Auto Subscriber](https://github.com/EasyNetQ/EasyNetQ/wiki/Auto-Subscriber).

From what I can see in the wiki, the "respond" side of the request/response pattern appears _very similar_ to the "subscribe" side of the publish/subscribe pattern (albeit, a little different; for example, there's no subscription ID).

**publish/subscribe**
[code]

**request/resp

[2019-05-15 19:38] AnthonyMastrean commented on #940
Obviously, let me know if this is something you _even_ want. I can't think of why you wouldn't but, hey, it's not my project 🤗

I'm getting the same feelings working through the send/receive pattern...

[code]

https://github.com/EasyNetQ/EasyNetQ/wiki/Send-Receive

I'm actually implementing the "auto" classes now in a private project. If they work out and you're interested, after all, I'll send u

[2019-05-17 22:43] ehouarn-perret commented on #939
@Pliner thanks for your answer!

[2019-05-19 15:16] MaximShifrin opened #941 "JSON integer is too large or small for an Int32"
Hi
I use  Assembly EasyNetQ.Management.Client, Version=0.47.12.38, Culture=neutral, PublicKeyToken=null

when try to get Queue.Messages , get the error : Newtonsoft.Json.JsonReaderException: 'JSON integer 2277968072 is too large or small for an Int32. Path '[2].memory', line 1, position 2430.'

 i see that the Messages property declared as int

namespace EasyNetQ.Management.Client.Model
{
    publ

[2019-05-21 15:12] zidad commented on #941
closed as duplicate of https://github.com/EasyNetQ/EasyNetQ.Management.Client/issues/118

[2019-05-21 15:12] #941 closed

[2019-05-24 13:58] ehouarn-perret opened #942 "Any capability to resend message that have faulted automatically?"
This is a follow-up of my question here: https://github.com/EasyNetQ/EasyNetQ/issues/937 in which I asked whether it was possible to recycle the message that have faulted and ended up in an error queue.

Now I am wondering if there is some automatic configuration to resend the message that have faulted automatically every 5 minutes / 1 hour / whatever?

[2019-05-24 20:13] sungam3r commented on #942
This is quite a specific logic. Most likely, it will have to be implemented by yourself. At least in our project, we organized the resubmission of erroneous messages with increasing timeout by ourselves.

Too many questions here:
1. What timeout or timeout change strategy to use?
2. How to protect against endless resending?
3. Where to store faulted messages beetween resending?
4. And more...

[2019-05-27 15:36] mebymyself commented on #330
@stevenxi,
I am experiencing same issue. Can you please share the wrapper you created?
Thanks

[2019-05-28 07:38] stevenxi commented on #330
@mebymyself https://gist.github.com/stevenxi/ed150b482b8c87b41f67e3c7e53973ff
I've removed bit unnecessary code, so you may need to fix the build.
The you can use Lazy in place of TenaciousLazy<T>.  The TenaciousLazy is just a try-catch enabled Lazy<T>.

[2019-05-29 16:03] priore opened #943 "Question: Disable automatic ack"
I have a queue used by multiple clients, I would like that only a specific client performs the ack on the msg directed to him, then how disabling the automatic ack and execute it manually ?

[code]
thanks.

[2019-05-30 09:16] LincolnYang1 opened #944 "Error handling issue, TaskCanceledException have different behavior than other exception"
i am using EasyNetQ version 3.3.2,  doing subscription/publish, my expectation is if any exception in my code throw out, the message will be de-queue and a new message will be dropped into error queue with wrapped both exception info and original message.

but when TaskCanceledException throw out, its behavior totally different, the de-queue didn't happen, and nothing in error queue.

it's very ea

[2019-05-31 13:13] jmalStorm opened #945 "Message priority when using RPC?"
Would it be possible to include maxPriority in IResponderConfiguration, so that it would be possible to pass it when setting Respond?

[2019-05-31 15:07] ehouarn-perret commented on #939
While offloading to other threads (e.. `Task.Run`) is enviable, it prevents error to be written to the error queue.

[2019-05-31 21:19] ehouarn-perret commented on #937
How I somehow addressed that question on SO: https://stackoverflow.com/a/56401830/4636721

    public static class AdvancedBusExtensions
    {
        public static async Task ResendErrorsAsync(this IAdvancedBus source, string errorQueueName)
        {
            var errorQueue = await source.QueueDeclareAsync(errorQueueName);
            var message = await source.GetMessageAsync(errorQueue);

[2019-06-01 13:28] ehouarn-perret commented on #939
Example of offloading (thank you SO: https://stackoverflow.com/q/56401481/4636721 :))

In C#:
[code]
In F#
[code]

[2019-06-01 15:19] Pliner commented on #944
Hi @LincolnYang1,

Yep. The behaviour is different. IConsumerErrorStrategy consists of the following methods: `HandleConsumerCancelled` is called if `OperationCancelledException` is thrown, `HandleConsumerError` is called if `Exception` is thrown.

Also the default behaviour of `HandleConsumerCancelled` is to reject message with requeue.

[2019-06-01 15:19] #944 closed

[2019-06-01 15:41] sungam3r opened #947 "Make DefaultConsumerErrorStrategy.HandleConsumerCancelled virtual"
Relates to #944

So if I only don't want default behaviour for `OperationCancelledException` (NackWithRequeue) I can not just override `HandleConsumerCancelled` and reuse the rest code from `DefaultConsumerErrorStrategy`

[2019-06-01 16:41] ehouarn-perret commented on #947
@sungam3r can't agree more with you

[2019-06-02 04:14] #947 closed

[2019-06-02 12:54] sungam3r opened #952 "Code style rules"
Relates to #951

It would be nice to fix such rules and be able to automatically check them.

[2019-06-02 12:58] sungam3r commented on #952
Consired using StyleCop / GCop etc.

[2019-06-02 18:03] ehouarn-perret opened #954 "Best practice to use EasyNetQ: worthwhile to create a new bus for every message to publish?"
Wondering if like EntityFramework it is recommended to create a bus whenever it is required to perform an action over IO.

My point is that does creating a bus every time I want to publish a message worthwhile?

For receiving messages, I can understand why it matters to keep the same `IBus` reference but in the case of publishing I am not too sure.

[2019-06-02 20:24] sungam3r commented on #954
Сreate a new bus for every message to publish is a bad idea. Each time, many auxiliary objects will be created, a connection will be established, etc., and so on. As a rule, an application constantly not only receives messages, but also sends them. Therefore, to create a bus instance every time is meaningless.

[2019-06-02 22:46] ehouarn-perret commented on #954
@sungam3r alright then so this is a different strategy from EF where a `DbContext` can be created for punctual `SaveAsync`.

Thanks!

[2019-06-02 22:46] #954 closed

[2019-06-02 22:47] #939 closed

[2019-06-02 22:47] #937 closed

[2019-06-02 23:02] sungam3r commented on #954
`DbContext` is a unit-of-work pattern, bus is a completely different entity whose lifetime is much longer. Сan say that `DbContext` is a stateful object while bus is stateless (of course it contains some state - declared queues/exchanges etc. but it is not data, it is control mechanism).

[2019-06-04 05:25] #705 closed

[2019-06-05 14:00] AnthonyMastrean commented on #940
OMG. The reflection is _very challenging_ (to someone who has done only very little reflection). I wonder if this is best implemented _after_ some refactoring and probably _after_ the 4.0 release.

[2019-06-05 14:11] AnthonyMastrean opened #955 "Is the IConsume interface misnamed?"
The IConsume and IConsumeAsync interfaces are used for auto-registration of the subscribe side of the pub/sub pattern. The IBus method that is reflected is Subscribe. It's part of the "Auto-Subscribe" part of your system (and wiki).

Therefore, I suggest that IConsume and IConsumeAsync are too generally named. They should be named ISubscribe and ISubscribeAsync, to bring them in line with the rele

[2019-06-07 08:01] jmalStorm commented on #945
https://github.com/EasyNetQ/EasyNetQ/pull/956

[2019-06-07 08:42] rajkrs commented on #753
Still i am unable to use it, above described code is for 2.3.1 where as now the days we have 3.5.1 of easynetq
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/easynetq/7jIXRCtFgTI

[2019-06-07 11:27] mangoyoga80 opened #957 "Unexpected exception when attempting to ACK or NACK"
Using RPC for Request/ResponsdAsync, I experience a lot of exceptions like this:

 ERROR [EasyNetQ consumer dispatch thread] HandlerRunner+<>c__DisplayClass3_0.<InvokeUserMessageHandlerAsync>b__0 - Unexpected exception when attempting to ACK or NACK, receivedInfo=[ConsumerTag=d4b34f4e-2509-45d9-8386-643e2af8237c, DeliverTag=2, Redelivered=False, Exchange=easy_net_q_rpc, RoutingKey=easynetq.respons

[2019-06-07 15:12] sungam3r commented on #957
What version of EasyNetQ do you use?

[2019-06-07 15:16] mangoyoga80 commented on #957
Sorry I forgot to say. 3.5.1. Exception seem to occur when using the non async request method

[2019-06-11 10:05] B1nke opened #958 "Logging with .net core & Serilog"
We are moving a project from .net framework to .net core and now we have a problem with very verbose logging.
We get spammed with messages like:
`[Information] Declared consumer with consumerTag "0ae905b8-b07e-4055-9efe-6e1b4ee32501" on queue "CueName, CueNameSubscriber" and configuration "[Priority=0, IsExclusive=False, PrefetchCount=50]"`
`[Debug] Message delivered to consumer "d2a4cf17-8b65-4f6

[2019-06-11 10:40] B1nke commented on #958
Just found the `LogProvider.IsDisabled = true;` and that seems to solve it

[2019-06-11 10:40] #958 closed

[2019-06-14 07:49] zidad commented on #955
I tend to agree with you. I think the AutoSubscriber was contributed by another user, so it has bit of a different coding style. As far as I'm concerned it could be extracted to a separate package to keep the core small. I would also love to have more extensive interface that includes the message context, like MassTransit has.  I'm a bit hesitant to rename them for now though.

[2019-06-14 08:00] zidad commented on #940
Hi Anthony, great work! I think it could be a good addition, but as a separate package. I think AutoSubscriber could be a separate package too.

[2019-06-14 14:55] AnthonyMastrean commented on #940
OK! I'm willing to tackle this... I can start something under my own account, link it here, and see how it turns out?

[2019-06-14 14:58] AnthonyMastrean commented on #955
@zidad could you elaborate on this point?

[2019-06-18 15:28] zidad commented on #955
It provides you with contextual information about the message and bus. For example, a lot of people have asked about more fine-grained control in ACK/NACK, which it could provide in the consumer, but it could also provide info about retries, etc.
https://github.com/MassTransit/MassTransit/blob/master/src/MassTransit/IConsumer.cs

BTW MassTransit calls this method 'Consume' as well so I'm not sure

[2019-06-19 19:39] AnthonyMastrean commented on #898
I created a new ASP.NET Core `webapi` project from the template, added the EasyNetQ package, and registered a singleton `IBus`.

[code]

I ran a RabbitMQ Docker container:

[code]

Then I ran the default debugger/launch task from Visual Studio Code. When I click the debugger's "stop" button, it seems to just kill the process!

[code]

[2019-06-19 19:43] AnthonyMastrean commented on #898
I took the same "example" webapi project and wrapped that in a [standard ASP.NET Core runtime Docker image](https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/Dockerfile).

**Dockerfile**
[code]

I constructed the following simple Compose manifest.

**docker-compose.yml**

[code]

The Compose project started just fine; the app logs showed that the webapi connected and the Rabbit

[2019-06-19 19:47] AnthonyMastrean commented on #898
@burcuay346 Sorry for "taking over" a little, but I was _just_ about to post about the same warning message from the .NET Core, Visual Studio Code, and Docker perspective... how are you running your application?

To the maintainers... does it seem like there's a .NET Core / Docker signaling issue? I don't know where else to debug. My startup couldn't be easier.

**Startup.cs**

[code]

[2019-06-19 20:05] AnthonyMastrean commented on #898
OK, I hacked up a new scope and a new `IBus` instance and immediately disposed it.

**Program.cs**
[code]

I just ran this from the Visual Studio Code debugger and it looks like the connection is closed gracefully.

[code]

So, it's _not_ EasyNetQ! There's gotta be something else going on in Docker (and maybe the way the .NET Core or ASP.NET Core entrypoint are wired up or accept signals)?

[2019-06-19 20:43] AnthonyMastrean commented on #898
OK, time for a little embarrassment... although, there's nothing like posting text into a website to make you _really_ work through your examples 😄

I actually showed the problem with _my_ code already (sorry, @burcuay346, not sure if this is the same problem you're having). What is this doing?

[code]

What if we wrote it like this... does that make it more obvious?

[code]

The bus is _local_ to

[2019-06-26 09:15] HosseinTraining opened #959 "How To Use generic SubscribeAsync for open generic type in EasyNetQ like RawRabbit"
Is it possible to answer my question at [stackoverflow](https://stackoverflow.com/questions/56768870/how-to-use-generic-subscribeasync-for-open-generic-type-in-easynetq-like-rabbitm) ?

[2019-06-26 09:29] Roytin opened #960 "rabbitmq restart and clean when using rpc"
1 docker run rabbitmq
2 rpc respond like this:
[code]
3 rpc request like this:
[code]

4 docker stop rabbitmq & docker rm rabbitmq & docker run rabbitmq

5 rpc request catch exception: no exchange easy_net_q_rpc

--------------------
At last I try to fix in respond project like this:
[code]
Then even though rabbitmq redeploy in k8s, I could still use rpc as usual. But maybe easynetq can do this?

[2019-06-27 14:57] zidad commented on #959
I added a comment on your post, I think you need to explain a bit more about your use case, but I'm closing this issue ok?

[2019-06-27 14:57] #959 closed

[2019-07-02 16:04] Jmaharman commented on #330
@stevenxi - thanks for your wrapper, I've tried to reverse engineer the BindingWrapper but I'm at a loss what _pendingConsumer is for? And is that another BindingWrapper, or some other class not relevant to the above issue?

[2019-07-03 07:29] stevenxi commented on #330
@Jmaharman That was relate to a special need of our project, so I removed most part of, but forgot remove the line you saw.

It is for a "Multiple consumer binding", I have a pull request for this: https://github.com/EasyNetQ/EasyNetQ/pull/628

[2019-07-03 10:31] justmara opened #961 "IPublishExchangeDeclareStrategy used only on publish"
Why it is ignored on subscribe?
These two lines declare different exchanges:
[PublishAsync](https://github.com/EasyNetQ/EasyNetQ/blob/master/Source/EasyNetQ/RabbitBus.cs#L123)
[SubscribeAsync](https://github.com/EasyNetQ/EasyNetQ/blob/master/Source/EasyNetQ/RabbitBus.cs#L166)

Since rabbitmq allows creation of exchanges with same names but different types, simply overriding IPublishExchangeDeclare

[2019-07-03 12:06] zidad commented on #961
Hmm that sounds strange indeed. I'm not sure, but if you're only trying to change the naming conventions I'd recommend overriding the IConventions service instead.

[2019-07-03 17:03] justmara commented on #961
@zidad

Nope, I'm trying to use [deduplication](https://github.com/noxdafox/rabbitmq-message-deduplication). It requires special exchange type to be created.

[2019-07-03 21:34] zidad commented on #961
cool, then yeah this looks good to me... BTW interesting additions you have in your repo :)

[2019-07-08 12:20] jmalStorm commented on #572
+1
Having same issue

Why is there new queue created in FuturePublishInternalAsync?

    var queueName = conventions.QueueNamingConvention(typeof (T), null);
    var queue = await advancedBus.QueueDeclareAsync(queueName).ConfigureAwait(false);
    await advancedBus.BindAsync(exchange, queue, topic).ConfigureAwait(false);

[2019-07-08 13:12] zidad commented on #572
@jmalStorm which version of EasyNetQ and which class are you looking at?

[2019-07-08 13:18] jmalStorm commented on #572
v3.5.1 nuget

https://github.com/EasyNetQ/EasyNetQ/blob/3.5.1/Source/EasyNetQ/Scheduling/DelayedExchangeScheduler.cs
lines 81, 89, 90

[2019-07-08 13:19] zidad commented on #572
I can only find similar (but not exactly) in the DelayedExchangeScheduler, which might need more work.

However I do think it needs to declare a queue in order to make the delayed exchange work? or am I wrong here? @Pliner any idea about this?

[2019-07-08 13:20] jmalStorm commented on #572
I have tried removing these 3 lines and is seems to work. So I wonder what is the purpose of them.

[2019-07-09 20:27] AnthonyMastrean opened #963 "RPC return queue naming convention should be parameterized on the response message type"
I'm trying to implement _even stricter_ message type conventions than EasyNetQ supports out of the box. For example, I'm enforcing uniqueness in request/response pairs. Given that, I would _love_ to override the RPC return queue naming convention.

I would like to name the return queue after the response type.

[code]

But, the convention is not parameterized on `Type`.

[code]

https://github.com

[2019-07-09 21:00] sungam3r commented on #963
I agree. This question can be viewed more widely. What is a conventionы? This is a replaceable unit for solving the problem of obtaining names for queues, exchangers, and so on. On the basis of what the decision is made? There is always some context at the decision point. And the point is to provide this context in the most complete form so that the consumer has the opportunity to widely use it. I

[2019-07-09 21:44] AnthonyMastrean commented on #963
The idea of a `ConventionContext` is very interesting! You would probably need a slightly different context per workflow pattern?

[2019-07-10 08:54] zidad commented on #963
Seems like a logical addition to me.  MessageReceivedInfo is also contextual information.

EasyNetQ 4.0 will have quite some breaking changes anyway, so if you target your PR at develop we might be able to include it.

[2019-07-10 10:03] sungam3r commented on #963
Yes, but only for incoming message. It is not identical in meaning to `ConventionContext`. In any case, this class solves another task.

 > You would probably need a slightly different context per workflow pattern?

Slightly, yes, probably.

[2019-07-10 15:56] AnthonyMastrean opened #964 "How to use a single RPC callback queue per client?"
It looks like EasyNetQ's implementation of RPC is straight out of the [RabbitMQ tutorial](https://www.rabbitmq.com/tutorials/tutorial-six-python.html).

Except, instead of creating a queue-per-request, you create a queue-per-[`RpcKey`](https://github.com/EasyNetQ/EasyNetQ/blob/7d207da792b4a84886fdfd0074a2a3d06b2061ea/Source/EasyNetQ/Producer/DefaultRpc.cs#L317-L327) (effectively, per request/respo

[2019-07-10 15:56] AnthonyMastrean commented on #964
Loosely related to response queue naming, in general (#963)

[2019-07-10 18:43] AnthonyMastrean opened #965 "The term "topic" seems to be used incorrectly throughout EasyNetQ"
I *think* the term "topic" is used incorrectly throughout EasyNetQ.

It started as I was poking around [`PublishAsync<T>`](https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Producer/DefaultPubSub.cs#L40-L63). I wanted to experiment with overriding the pub/sub exchange name. I noticed that there was a `WithTopic` method on `IPublishConfiguration` and, given that the pub/sub exchange

[2019-07-10 18:50] AnthonyMastrean opened #966 "Publish async does not support the exchange naming convention"
The default pub/sub thing has a method, [`PublishAsync<T>`](https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Producer/DefaultPubSub.cs#L61), that uses an `IPublishExchangeDeclareStrategy` to declare the publish exchange. But, it uses the method overload that takes a [`Type messageType`](https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Producer/PublishExchangeDecla

[2019-07-10 18:53] AnthonyMastrean commented on #966
Possibly related to #961

[2019-07-10 18:56] AnthonyMastrean commented on #966
Whoops! My bad, it's literally right here...

[code]
https://github.com/EasyNetQ/EasyNetQ/blob/3.5.1/Source/EasyNetQ/Producer/PublishExchangeDeclareStrategy.cs#L39

[2019-07-10 18:57] #966 closed

[2019-07-10 18:57] AnthonyMastrean commented on #966
Ah, that's right... I wrote this down when I was _mistakenly_ looking for **topic** naming conventions here (see also #965)

[2019-07-11 10:30] richard-green commented on #623
Hi - we have seen a number of issues relating to this happening in our production systems, and I've managed to create a test project that can be used to reproduce it:

[ENQDLT.zip](https://github.com/EasyNetQ/EasyNetQ/files/3381515/ENQDLT.zip)

Essentially, it's a very simple WCF service hosted in IIS, that receives a request and publishes a message on the bus, and also does a request/response.

T

[2019-07-11 11:17] flyingpie commented on #623
@richard-green Hello Richard!

Maybe the issue that you are encountering has plagued our project for a while too. I could be totally off, but here is the suggestion.

The fix that ultimately was used to solve this problem, was "TaskCreationOptions.RunContinuationsAsynchronously".

Though EasyNetQ kept backwards compatibility with .Net 4.5.1, which does not support this construct. So now there are

[2019-07-11 11:58] harrisonmeister commented on #623
Thanks @flyingpie - it sounds very likely.

Could you expand on how its fixable?

Correct we are using .Net Framework 4.7.1

We use paket for our dependency management and they have a rule which basically states if the consuming project (of EasyNetQ) has a framework version, it chooses that OVER netstandard2.0.
So in this case it looks like this:

[code]
_We tend to avoid manually editing paket ge

[2019-07-11 12:28] BlythMeister commented on #623
@flyingpie since this bug can only be fixed in net46 and higher, and we all know that microsoft screwed up with netstandard/net46x compatibility.
Would it be possible to also include a net46x version of easynetq in the nuget package?

[2019-07-11 12:43] harrisonmeister commented on #623
@Pliner / @flyingpie  - I can take a stab at creating a new target for the nuget package if you want. Would you want just net462?

[2019-07-11 12:46] zidad commented on #623
Sounds good to me!

[2019-07-11 12:49] harrisonmeister commented on #623
@zidad - thanks.
The only question I have is with the new target, we also would need to add some code to this:
https://github.com/EasyNetQ/EasyNetQ/blob/0713e84592e0fcb14cbad6e4183179dc48e9e79c/Source/EasyNetQ/Producer/ClientCommandDispatcherSingleton.cs#L45-L49

so that it is net462 aware.

Is this the only place I would need to update (as well as TargetFrameworks nodes) ?

[2019-07-11 12:57] flyingpie commented on #623
@harrisonmeister This is what we turned out doing, since we had to solve it pretty quickly:

We copied the relevant components to our own code:
- https://github.com/EasyNetQ/EasyNetQ/blob/0713e84592e0fcb14cbad6e4183179dc48e9e79c/Source/EasyNetQ/Producer/ClientCommandDispatcherSingleton.cs
- https://github.com/EasyNetQ/EasyNetQ/blob/0713e84592e0fcb14cbad6e4183179dc48e9e79c/Source/EasyNetQ/Producer/

[2019-07-11 13:05] vborza commented on #932
Hi,
sorry for the late response, we were quite busy last months. What we want to do is the following.
1. Publish request to one exchange, let's say MarketData with exchange name topic (e.g. Poloniex, Bitmex)
2. There are separate apps for each exchange, both connected to RMQ. They need to listen to the MarketData request, but only for the requests matching the topic (i.e. Poloniex market data app

[2019-07-11 13:15] vborza commented on #932
I believe we are missing the same functionality as mentioned here: #576

[2019-07-11 14:53] richard-green commented on #623
Please see pull request above - I've added a .NET 4.6 target, which uses the new framework TaskCreationOptions.RunContinuationsAsynchronously option for the Client Command Dispatcher

[2019-07-11 15:20] harrisonmeister commented on #623
https://github.com/EasyNetQ/EasyNetQ/pull/967 should fix this, at least for consumers of easynetq who are using framework of net46+

[2019-07-11 15:22] zidad commented on #623
Thanks all! Please check if https://www.nuget.org/packages/EasyNetQ/3.5.2 will solve the issue for you...

[2019-07-11 18:12] justmara commented on #952
Why use outdated StyleCop and not revived [FxCop Analyzer](https://devblogs.microsoft.com/dotnet/write-better-code-faster-with-roslyn-analyzers/)?

[2019-07-11 20:04] sungam3r commented on #952
This question is not so much about particular StyleCop, but about choosing at least something and keeping to these rules.

[2019-07-13 10:53] sungam3r opened #968 "RPC response cancellation"
RPC calls  `advancedBus.Consume<TResponse>(queue, (message, messageReceivedInfo)...` but doesn't dispose return value (cancellation), which cleans internal consumer's state. I think this may lead to a memory leak in case of loss of communication with the broker and subsequent reconnections.

[2019-07-16 04:30] Pliner commented on #968
Fixed by #969

[2019-07-16 04:30] #968 closed

[2019-08-12 18:39] coelacanth16 opened #972 "Nuspec states dependency >= 10.0.2 but ver 12 breaks the injector"
I recently updated a solution's nuget references to point to Newtonsoft.Json ver 12.0.2, which works at compile time because EasyNetQ's nuspec states >= 10.0.2. However, when you inject a new EasyNetQ.JsonSerializer with slightly different settings like this:

RabbitHutch.CreateBus(connStr, serviceRegister => serviceRegister
.Register<ISerializer>(new EasyNetQ.JsonSerializer(newSettings)));

Eithe

[2019-08-14 08:06] zidad commented on #972
Hi @coelacanth16, I don't prefer restricting max versions of nuget packages, instead let's keep up-to-date. Feel free to send a PR to update Newtonsoft.Json!

[2019-08-14 12:10] coelacanth16 commented on #972
To be clear, this open restriction causes a bug. But I can wait on #865 if you can.

[2019-08-14 13:01] zidad commented on #972
Yeah, I'm not sure if you can call a version conflict is a bug, especially if you decide to not stick with the minimum versions of packages specified in nuget. I'd say upgrading to the latest versions that a product is not built or tests with is always a risk we can't mitigate.

The problem is you never know in advance if our package will be compatible with newer versions of dependencies, so if yo

[2019-08-15 14:17] AnthonyMastrean opened #974 "Changing Json Serializer Settings"
If I **need** to change the JSON serializer settings, for example, to add [custom `JsonConverter`s](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_JsonConverter.htm) or to effect reference loop handling (see #426), do I need to duplicate the `TypeNameHandling` setting or risk breaking [EasyNetQ's behavior in some cases](https://github.com/EasyNetQ/EasyNetQ/commit/74b4a103c3ad022f87e1c

[2019-08-15 14:54] zidadrtl commented on #974
Hmm yes before newtonsoft.json was interned, so we couldn't expose the configuration, but I guess now we can expose Action<JsonSerializerSettings>.

JSON Attributes should now work as well. Just creating/registering your own serializer should also be simple for now I think?

[2019-08-15 14:55] zidad commented on #974
Hmm yes before newtonsoft.json was interned, so we couldn't expose the configuration, but I guess now we can expose Action.

JSON Attributes should now work as well. Just creating/registering your own serializer should also be simple for now I think?

[2019-08-19 19:39] AnthonyMastrean commented on #974
Wait, it gets worse! Because you create your own [`JsonSerializer`](https://github.com/EasyNetQ/EasyNetQ/blob/3.6.0/Source/EasyNetQ/JsonSerializer.cs#L7) type and only wrap static [`JsonConvert`](https://github.com/EasyNetQ/EasyNetQ/blob/3.6.0/Source/EasyNetQ/JsonSerializer.cs#L27) calls, and do not use the Json.NET type, you're subject to the following note.

https://www.newtonsoft.com/json/help/

[2019-08-20 08:07] zidadrtl commented on #974
That's not good, thanks for pointing this out, are you willing to create a PR to fix this behavior?

[2019-08-20 08:08] zidad commented on #974
That's not good, thanks for pointing this out, are you willing to create a PR to fix this behavior?

[2019-08-30 00:44] djeikyb commented on #965
So I've started using easynetq recently too, I've found that the default easiest out of the boxiest stuff, eg IBus, is extremely opinionated and amazing if all your services are also using easynetq. But I'm writing some new services integrating with an existing collective of things publishing and consuming w/ rabbitmq. The topology mostly already exists, the existing services are difficult to chan

[2019-08-30 06:40] poteb commented on #965
To answer your routing key question, no, I don't think it actually checks. It's just best practice to use it the way it's described. I used very simple routing keys in the beginning, but I quickly found the dot-notation and the wildcard (my.example.*) features very useful.

I also quickly ran into the limitation of IBus and started using IAdvancedBus. Like you, one of the things I wanted to change

[2019-08-30 17:24] adaneam commented on #753
This issue still appears when you use custom dispatcher. It doesn't matter if you use third party container or not.

[2019-09-04 15:49] alexchilcott opened #975 "[Bug?] "Soft" channel failures do not recover gracefully"
An attempt to publish a message to an exchange that does not exist causes the broker to close the channel. This is expected behaviour, and described as a "soft" (recoverable-by-the-application) failure in the [RabbitMQ documentation](https://www.rabbitmq.com/channels.html#error-handling).

When using `IAdvancedBus` to publish this message, however, this channel closure is not detected. Once the mo

[2019-09-10 11:43] p370 opened #976 "DelayedExchangeScheduler.FuturePublishAsync creating unnecessary queue?"
Hello,

Can anyone, please, explain, why DelayedExchangeScheduler.FuturePublishAsync crates a "default" queue that has messages just piling up?
https://github.com/EasyNetQ/EasyNetQ/blob/1bed4466969bb5c5ed19f85c6f12bcdbca30009f/Source/EasyNetQ/Scheduling/DelayedExchangeScheduler.cs#L47

We are using EasyNetQ 3.6.0 + RabbitMQ 3.7.17 + Delayed Message Exchange plugin 20171201.

Thank you!

[2019-09-20 12:14] changyuhao625 opened #978 "Is it possible to communicate between .Net Core and .Net Framework application!?"
Hi,
I have two application one is build from .Net Framework, the other is build from .Net Core.
The .Net Core Application publish one "String" message and the .Net Framework Subscribe it!
But I occur following error message:

_EasyNetQ.EasyNetQException: Cannot find type MessageContent1[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]:Mess

[2019-09-20 12:21] changyuhao625 commented on #978
Hi,
I have two application one is build from .Net Framework, the other is build from .Net Core.
The .Net Core Application publish one "String" message  and the .Net Framework Subscribe it!
But I occur following error message:

`EasyNetQ.EasyNetQException: Cannot find type MessageContent`1[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]:Me

[2019-09-20 12:56] zidadrtl commented on #978
Can you try to use the DefaultTypeNameSerializer instead of the LegacyTypeNameSerializer (or write your own that is more suitable to serialize/deserialize generic type names)?

[2019-09-20 13:49] Pliner commented on #978
@zidadrtl @changyuhao625 Actually, it's a known PITA of our serialisation approach. And DefaultTypeNameSerializer is not be able not help because system types(string for instance) are located in different assemblies(or in assemblies with different names).

[2019-09-20 19:52] sungam3r commented on #978
I know this problem well. We gradually migrated dozens of our microservices from .Net Framework to .Net Core. Generally speaking, the developer has full control over the transmitted message structure, and EasyNetQ only provides a default pattern simplifying life.

As a result, I wrote my own serializer, which knows about both worlds - .Net Framework and .Net Core and correctly deserializes the mes

[2019-09-21 06:38] ZK-Andy commented on #978
I also encountered this problem.I have repaired it and used it properly. I wrote my own serialization program based on LegacyTypeNameSerializer.
                _bus = RabbitHutch.CreateBus(_config.ConnectionString,
                    services => services
                        .Register<IConventions, EasyBusErrConventions>()
                        .Register<ITypeNameSerializer, XXXX
[XXXXLegac

[2019-09-21 08:29] ZK-Andy commented on #978
@Pliner
Sorry, I don't know if my submission conforms to the specifications. Please check it, if you have any questions, please forgive me.

[2019-09-21 09:25] dehqan opened #980 "Wiki Request Response"
Hi, there is a minor mistake in wiki at "Request Response" section.

in the "Making a request, and handling the response" paragraph there is no "MyMessage" object as you mentioned in this paragraph and it should be replaced with "MyRequest" object .

the wrong and currently one:

the correct one:

[2019-09-22 17:27] changyuhao625 commented on #978
I had try with strong type but still show same error message !

[2019-09-22 17:28] changyuhao625 commented on #978
Ok, I’ll try this solution!thanks for your reply!

[2019-09-22 17:29] changyuhao625 commented on #978
Thanks, I’ll try and let you know if it’s work!

[2019-09-23 04:13] Pliner commented on #980
Hi @dehqan,

[Wiki](https://github.com/EasyNetQ/EasyNetQ/wiki/Request-Response#making-a-request-and-handling-the-response) was updated.

Thanks.

[2019-09-23 04:13] #980 closed

[2019-09-23 10:14] changyuhao625 commented on #978
Hi,
I just try this solution ,and it's work !
Thanks for your helping

[2019-09-24 09:09] HHajjari commented on #427
Does RabbitHutch.CreateBus implement singleton pattern to hold only one instance of rabbitmq connection during application lifetime or me as the developer should implement singleton for IBus?

[2019-09-25 02:07] ZK-Andy commented on #978
@changyuhao625 It is my pleasure

[2019-09-25 13:50] zidad commented on #524
By default you can't have multiple message types per queue.

Can you try to register the HandlerCollectionPerQueueFactory as IHandlerCollectionFactory in your container and see if that works for you?

[2019-09-25 13:51] zidad commented on #427
@HHajjari You should register IBus as singleton in your container.

[2019-09-26 06:19] justmara commented on #524
@zidad with HandlerCollectionPerQueueFactory it crushes on registration phase with error `There is already a handler for message type 'Msg`1'`. As it if tries to register both handlers (for message and list of messages) at same key somehow

[2019-09-26 14:02] #978 closed

[2019-09-26 18:20] Pliner commented on #972
It seems the issue is resolved by https://github.com/EasyNetQ/EasyNetQ/releases/tag/3.7.0.

[2019-09-26 18:20] #972 closed

[2019-09-26 18:21] Pliner commented on #961
The issue was resolved by https://github.com/EasyNetQ/EasyNetQ/pull/962

[2019-09-26 18:21] #961 closed

[2019-10-05 06:24] pankaj-nikam opened #983 "How can we customize the client properties which are visible in RabbitMq server?"
Hi team,

I wish to know how we can customize the client properties visible in the connection tab in RabbitMq server using EasyNetQ?

Please guide.

Thanks.

[2019-10-05 07:04] sungam3r commented on #983
Use `ConnectionConfiguration.ClientProperties`

[2019-10-05 15:27] pankaj-nikam commented on #983
Hi @sungam3r , thank you for the details, however, I am not sure how to use this with the constructor which takes a connection string.
Can you please guide?
Thanks.

[2019-10-05 21:07] sungam3r commented on #983
This is an interesting question. I ran through the code and I got the impression that this was not implemented. @Pliner ?

[2019-10-06 04:16] pankaj-nikam commented on #983
Hi @sungam3r , can we have this as a future feature please?

[2019-10-06 06:11] sungam3r commented on #983
First we need to make sure that I haven’t messed up anything. If this is not really implemented, then of course it is worth doing it.

[2019-10-10 03:01] pankaj-nikam commented on #983
Agreed. Thanks.

[2019-10-10 07:37] sungam3r commented on #983
@Pliner We need your help to figure it out.

[2019-10-24 06:31] mrychter opened #984 "Create all queues after killing server"
Hi,

We currently hosting rabbitmq as docker image and sometimes we need to kill or restart that container while subscribers using easynetq are connected. If it happens after rabbit is available to subscribers no queues are created till subscribers are restarted. Also it looks like that if we configure rabbit in a way that all needed queues are automatically created then pub and sub side can't com

[2019-10-28 03:34] askdong opened #985 "increasing threads in client"
Hi Brother,

we use EasyNetQ to publish message every 5 minutes in client,  If RabbitMQ highwater mark(either disk space or memory) is reached, RabbitMQ Server will refuse any client incoming message, which will cause client application threads count to increase to more than thousands.
how to solve this problem? is is possible to pre-check highwater mark in client before publish message? thank you

[2019-10-29 09:07] witling commented on #502
Does the `ClientCommandDispatcher` recognise insufficient permissions when working on requests? I've also faced `The operation requested on PersistentChannel timed out` when declaring queues. After adjusting the permissions of my user for `configure:*` the error disappeared.

[2019-10-31 05:20] abbasfaisal commented on #927
@Pliner Seems simple from the outset. Can I try my hands on this?

[2019-10-31 06:03] Pliner commented on #927
Hi @abbasfaisal,

Yep, you are welcome. Also I have renamed the issue and now its name is much better describe what to do.

[2019-11-01 10:26] pcroc commented on #984
We have a very similar problem, using EasyNetQ 3.6.0. Our patching process involves forcefully causing running services to fail over to a secondary RabbitMQ broker. I've recently tested failing over to a completely fresh RabbitMQ, and have found that EasyNetQ does not create the necessary queues and exchanges on the secondary instance. without resubscribing within the services themselves or restar

[2019-11-01 13:22] pcroc commented on #984
Okay, so unsubscribing and re-subscribing in response to Connected doesn't work, the exchange doesn't get created so the SubscribeAsync call throws an exception because the exchange doesn't exist.

It looks like `DefaultExchangeDeclareStrategy` doesn't clear its cache of declared exchanges, so on reconnect a different RabbitMQ instance it still thinks all the previously declared exchanges still ex

[2019-11-01 14:12] Pliner commented on #984
@pcroc We can try to clean up all exchanges after reconnection, will it help?

[2019-11-01 14:27] sungam3r commented on #984
It **may** help.
I think that it’s not just a matter of restoring exchanges, but also queues and bindings. Restoring the entire topology should then be a common and **documented** strategy. I can say that I also ran into such a recovery problem when switching to another rabbit cluster.

[2019-11-04 09:29] mrychter commented on #984
Hi,

another issue we have faced is that after about 12h of disconnection from broker EasyNetQ can't retrieve messages from server.

Here are exact steps to reproduce:
1. We are hosting rabbit mq in docker container (v3.7.17), client (subscriber) is written in net core 2.2 and client has successfully created alle necessery bindings and can retrieve message from queue.
2. Now we pause container hos

[2019-11-04 10:09] zidadrtl commented on #984
I just think EasyNetQ was never written to be able to recover from longer RMQ outages. I think it's something we can look at for a new major version, but I think it will require some rewrites of the configuration API.  Until then I think the application should just stop/crash/failfast instead of failing silently, I've been bitten by this too before.

[2019-11-04 10:10] zidad commented on #984
I just think EasyNetQ was never written to be able to recover from longer RMQ outages. I think it's something we can look at for a new major version, but I think it will require some rewrites of the configuration API. Until then I think the application should just stop/crash/failfast instead of failing silently, I've been bitten by this too before.

[2019-11-04 13:02] mrychter commented on #984
Hmm, I think easynetq should handle such cases because we don't want to restart subscription service everytime we lost connection to broker for longer time. It looks like easynetq currently in mature state should cover also some infrastructure issues like mine. Not having implemented this behavior it clearly states that we can't relay on easynetq as much as we could. What options do we have to mit

[2019-11-07 09:04] zidad commented on #984
@mrychter I partially agree, I have worked mostly in environments that always required RabbitMQ to be available, if it wasn't then having to restart dependent services was probably the least of our problems.

If you can find with a way to fix this I'll be happy to merge it in.

[2019-11-07 13:11] witling opened #986 "connection_name always defaults to "undefined""
EasyNetQ Version: 3.8.0-alpha0040
RabbitMQ Version: 3.8.1
Erlang Version: 22.1

---

Whenever I try to alter the name of my connection using EasyNetQ, `undefined` is displayed inside the management ui - which basically indicates that a `null` value was given.

I do not believe that the RabbitMQ server is the problem root here as it is possible to set the name using python.

Unfortunately, I am not

[2019-11-07 13:22] witling commented on #983
[code]

is sufficient. Btw, you can initialize C# objects using a more declarative syntax like this as well:

[code]

[2019-11-07 17:43] sungam3r commented on #983
The conversation was about initializing these properties entirely from the connection string.

[2019-11-08 07:07] witling commented on #983
@pankaj-nikam was asking for a way to customize the properties inside the management ui. I showed him.

He was just unaware how to use a constructor with no arguments.

[2019-11-08 10:57] mrychter commented on #984
@zidad Any clues where to start in source code?

[2019-11-12 13:41] pankaj-nikam commented on #983
@witling , thanks for the answer, however it takes AMQP connection string which does not follow the same format as the one which takes only the connection string. Not sure if it can be changed to handle the connection string and the connection configuration.

[2019-11-12 13:51] witling commented on #983
@pankaj-nikam I don't understand. Are you using EasyNetQ? If so, I'm unaware of any place where one must specify the amqp connection string manually. Anyways, some code would certainly help clear things up.

[2019-11-12 19:42] sungam3r commented on #983
Maybe [this](https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ.DI.Microsoft/EasyNetQServiceCollectionExtensions.cs#L35) ?

[2019-11-13 13:55] pankaj-nikam commented on #983
@witling , yes I am using EasyNetQ and using the following code to connect:

 RabbitHutch.CreateBus(Constants.RABBIT_DEFAULT_STRING);

Now this overload does not contain any form to pass the connection configuration or the connection configuration does not accept the AMQPConnection string in the format that this CreateBus overload takes.

[2019-11-15 17:50] 21robin12 opened #987 "Exception in consumer not propagating to producer"
Hi, I'm trying to use the request/respond methods, following the example here: https://github.com/EasyNetQ/EasyNetQ/issues/748#issuecomment-366006906

I've created a new solution to try and get this working, so I'm running the same code as in that comment.

The server responds correctly whenever I publish a message: Throwing 1 about Hello World!, Throwing 2 about Hello World!, but the exception is

[2019-11-15 21:11] sungam3r commented on #987
Check `EasyNetQ_Default_Error_Queue` queue. See this https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Consumer/DefaultConsumerErrorStrategy.cs#L56

[2019-11-18 14:47] husban125 commented on #987
@sungam3r I have had a look at the `DefaultConsumerErrorStrategy` class and it looks like it only creates error messages.

Is there a way for the message producer to automatically read from the error queue when an exception is thrown in the consumer?

[2019-11-18 16:11] sungam3r commented on #987
What producer do you use? Does it part of rpc pattern or just push message and forget about it?

[2019-11-18 16:30] husban125 commented on #987
Yes, we are using `.RequestAsync()` in the producer.

[2019-11-18 17:46] sungam3r commented on #987
I see that in case of an error on the server side, easynetq sends back a message, filling in the error information: https://github.com/EasyNetQ/EasyNetQ/blob/a1e8144260bbc047edec23eb9b8c833f9392bc1f/Source/EasyNetQ/Producer/Rpc.cs#L331

No need to deal with IConsumerErrorStrategy. It seems to me that it is worth making a minimal example reproducing the error. The problem may be in a completely dif

[2019-11-19 12:17] witling commented on #983
@pankaj-nikam what's the problem with using the overload I've propsed?

[2019-11-19 16:41] sungam3r commented on #983
It cannot be said that there is any problem with proposed overload,. just overloading with a string parameter cannot read connection properties. This can be considered as a bug.

[2019-11-21 12:18] crperez5 commented on #865
Any news on this? We have just upgraded our app to .net core 3 but we were force to keep Newtonsoft.Json package just because EasyNetQ has a dependency on it.

[2019-11-21 23:59] sungam3r commented on #865
So far in the near future I have no opportunity to deal with this problem, maybe later.

[2019-12-03 11:53] gschuager commented on #987
I just confirmed that server (IBus.Respond) exceptions are not being correctly propagated to the client (IBus.Request) since version 3.4.0

I get a System.TimeoutException instead:

![image](https://user-images.githubusercontent.com/139658/70048886-235ad380-15aa-11ea-9fad-ce4613b6c162.png)

[2019-12-03 12:32] gschuager commented on #987
It seems that a message with null body is published by the server in case of an error https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/Producer/DefaultRpc.cs#L299
but it cannot be deserialized in the client because of preconditions on MessageFactory https://github.com/EasyNetQ/EasyNetQ/blob/develop/Source/EasyNetQ/MessageFactory.cs#L26 (and even on Message ctor)

[2019-12-04 21:46] AnthonyMastrean opened #988 "failed to negotiate connection parameters"
I'm using EasyNetQ 3.7.1 with a basic connection string.

[code]

When connecting to RabbitMQ 3.7.22, I get the following error.

[code]

I don't see any [official documentation](https://www.rabbitmq.com/channels.html#channel-max) about the server default maximum or why the negotiation seems to have broken down. I also don't see channel_max or ChannelMax anywhere in your [docs](https://github.com/

[2019-12-04 21:50] AnthonyMastrean commented on #988
The official client lib seems to handle 0 (unlimited) correctly.

https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/v5.1.2/projects/client/RabbitMQ.Client/src/client/impl/Connection.cs#L1431-L1436

[2019-12-04 21:53] AnthonyMastrean commented on #988
Nothing to see here...

![image](https://user-images.githubusercontent.com/217842/70184778-876abe00-16b6-11ea-8cc0-1be60bee314d.png)

... gotcha!

![image](https://user-images.githubusercontent.com/217842/70184802-95204380-16b6-11ea-83a3-88e48a9e7101.png)

Still not clear why there's a logic bug that's not respecting that client 0 (unlimited) means to take the server's setting...

[2019-12-04 22:10] AnthonyMastrean commented on #988
Seems to happen on RabbitMQ 3.8.2, as well.

[2019-12-04 22:37] AnthonyMastrean commented on #988
Uh-oh, I think I was following the wrong path... I have *one* sketchy Perl service also connecting to this RabbitMQ instance. I think it's to blame.

[2019-12-04 22:37] #988 closed

[2019-12-09 16:50] IgorIgorevich94 commented on #300
Hello, any good news regarding this one?

[2019-12-12 10:25] micdenny opened #989 "Threading.Channels: a new way to implement producer-consumer pattern for ENQ dispatcher"
In a word: **System.Threading.Channels** from netcore 3.0 above and it has built-in async support, and uses the new `ValueTask` for better performance when the task completes synchronously.

Some info:

- [An Introduction to System.Threading.Channels](https://devblogs.microsoft.com/dotnet/an-introduction-to-system-threading-channels/)
- [System.Threading.Channels Namespace](https://docs.microsoft.

[2019-12-12 11:53] zidad commented on #989
Yes! I saw it too, seems to be compatible with .NET 4.6+ too... shall we first try and release 4.0?

[2019-12-12 12:10] micdenny commented on #989
Firsts I need to take time and review 4.0 to release it, this is for the next milestone 4.1

[2019-12-12 12:21] zidadrtl commented on #989
yes I agree... I have some time tomorrow

[2019-12-17 10:12] Pzixel opened #990 "Handle broker cancellation event"
I'm using this library and quite happy with it. But I have a problem and I didn't find any solution for it int docs or sources.

Yesterday my DC restarted several times so rabbit broker seems to cancel subscription. This is what I see in logs:

Then my app stuck because it couldn't recconect back to the broker.

Is there any way to handle this? As I see `BasicConsumer.HandleBasicCancel` is not vir

[2019-12-19 11:12] ChrisMcKee opened #991 "Liblog is deprecated"
https://github.com/damianh/LibLog
"⚠️ LibLog is now deprecated (see https://github.com/damianh/LibLog/issues/270).

My recommend course of action for library developers is to use Microsoft.Extensions.Logging.Abstractions as it is now the defacto standard logging interface in the .NET ecosystem. For library developers that wish to continue to use LibLog or need to make adjustments for their needs s

[2019-12-19 11:43] sungam3r commented on #991
Interesting news. Honestly, I am glad about this, because the way to connect the LibLog caused certain difficulties for me. In fact, the LibLog acts as a ServicLocator. I prefer to serve all dependencies with DI tools.

Please **do not**. You should not include this dependency in a package. It will be much more convenient to have your own **stable** logging abstraction. Next, you just need to writ

[2019-12-19 14:27] micdenny commented on #991
In fact `Liblog` was chosen to have our abstraction, liblog is a non-dependency, is a file, and we can manage it, so nowadays there's no rush to change this, I liked the way liblog works because if you already have a logging system in place it uses that without doing anything, so the fact that is a service locator it's true if you need to directly access liblog infrastructure, otherwise you have t

[2019-12-19 14:55] zidad commented on #991
Indeed, I don't see a big difference between liblog or creating your own abstraction.

@sungam3r what problems are you experiencing with liblog?

[2019-12-19 23:20] sungam3r commented on #991
Ok. I want to use my own `ILogProvider`. I should call `LogProvider.SetCurrentLogProvider(ILogProvider logProvider);` It is static method. At what point should I call this method? On the one hand, the sooner the better. On the other hand, I cannot call it until then, until an `ILogProvider` instance is created. The problem is that the implementation of my ``ILogProvider`` is created through DI - i

[2019-12-19 23:24] sungam3r commented on #991
The difference is DI-friendly vs not DI-friendly API (static API). LibLog has `ILogProvider` interface, ok, good. But it’s not enough just to have it, it still needs to be installed inside LibLog.

[2019-12-20 10:21] micdenny commented on #991
Because liblog is meant to work with the most known log libraries, not to give you another abstraction, in other words you can use known abstractions like ILogging from net core, and if it's configured to work with log4net, serilog, ... easynetq can use the same provider with zero configuration. In the same way you can use your own abstraction in your application, and if that abstraction then use